:root {


    --li-card-padding: 16px;
    --l1-title-clamp: 2;
    --l1-title-clamp-hover: calc(var(--l1-title-clamp) + 1);
    --l1-intro-clamp: 2;

    --l2-gap-ver: var(--sp_px-xxxl);
    --l2-title-clamp: 3;
    --l2-keyword-clamp: 2;
    --l2-intro-clamp: 3;

    --l3-title-clamp: 3;
    --l3-keyword-clamp: 2;
    --l3-intro-clamp: 2;

}

@media screen and (min-width: 640px) {
    :root {


        --news-l2-grid: 1fr 1fr;
        --l2-gap-ver: var(--res_gutter-l);

        --card-l3-grid: 1fr 1fr 1fr;

        --card-l3-caption-span: span 2;

        --li-card-padding: 20px;
        --l1-title-clamp: 2;
        --l1-intro-clamp: 2;

        --l3-title-clamp: 2;
        
        --3piece-grid: 1fr 1fr;
        --3piece-span: span 2;
        
        --md_4piece-grid: 1fr 1fr;
        --md_4piece-large-span: span 2;
        
        

    }
}

@media screen and (min-width: 1024px) {
    :root {
        --news-l1-grid: 1fr 1fr;

        --news-l2-grid: 1fr 1fr 1fr;

        --li-card-padding: 24px;
        --l1-intro-clamp: 3;

        --l3-title-clamp: 1;
        --l3-keyword-clamp: 1;
        
        --md_4piece-grid: 1fr 1fr 1fr;


    }
}

@media screen and (min-width: 1350px) {
    :root {


        --li-card-padding: 32px;
        --l2-title-clamp: 2;

        --l3-title-clamp: 1;
        --l3-keyword-clamp: 1;

    }
}

@media screen and (min-width: 2000px) {
    :root {}
}

:root {

--nv-dark-16: #ffffff;
--nv-dark-15-5-f7: #F7F7F7;
--nv-dark-15-ee: #EEEEEE;
--nv-dark-14-dd: #dddddd;
--nv-dark-12-5-cc: #CCCCCC;
--nv-dark-9-5-99: #999999;
--nv-dark-6-5-66: #666666;
--nv-dark-3-33: #333333;
--nv-dark-2-22: #222222;
--nv-dark-1-5-1a: #1A1A1A;
--nv-dark-1-11: #111111;
--nv-dark-0: #000000;
    
}

@media (prefers-color-scheme: dark) {

    :root {
        
        --boxshadow-card: 0px 2px 3px rgba(0, 0, 0, 0.5);
        
        --nv-16: var(--nv-dark-2-22);
        --nv-15-5-f7: var(--nv-dark-1-5-1a);
        --nv-15-ee: var(--nv-dark-1-11);
        --nv-14-dd: var(--nv-dark-0);
        --nv-12-5-cc: var(--nv-dark-3-33);
        --nv-9-5-99: var(--nv-dark-6-5-66);
        --nv-6-5-66: var(--nv-dark-9-5-99);
        --nv-3-33: var(--nv-dark-12-5-cc);
        --nv-2-22: var(--nv-dark-14-dd);
        --nv-1-5-1a: var(--nv-dark-15-ee);
        --nv-1-11: var(--nv-dark-15-5-f7);
        --nv-0: var(--nv-dark-16);
    }
}

/*==================== general styling ================*/
body {
    background-color: var(--nv-15-ee);
}
main section:nth-child(even) {
    background-color: var(--nv-15-5-f7);
}

h2 {
    margin: 0 0 calc(var(--res_padding-tb) / 2);
}

h3,
p {
    margin: 0;
}


/*=================== layout ======================*/
.md_news-l1 div.res_wrapper {
    display: grid;
    grid-template-columns: var(--news-l1-grid);
    grid-gap: var(--sp_px-xxl) var(--res_gutter-l);
}

.md_news-l2 div.res_wrapper {
    display: grid;
    grid-template-columns: var(--news-l2-grid);
    grid-gap: var(--l2-gap-ver) var(--res_gutter-m);
}

.md_news-l3 figure + figure {
    margin-top: var(--l2-gap-ver);
}
.card-l3 {
    display: grid;
    grid-template-columns: var(--card-l3-grid);
    grid-gap: var(--sp_px-m) var(--res_gutter-m); 
}

.md_3piece .res_wrapper {
    display: grid;
    grid-template-columns: var(--3piece-grid);
    grid-auto-rows: 1fr;
    grid-gap: var(--sp_px-m);
}

.md_4piece .res_wrapper {
    display: grid;
    grid-template-columns: var(--md_4piece-grid);
    grid-gap: var(--sp_px-m); 
}
/*=============================components==========================*/
.card-l1 {
    position: relative;
    color: #ffffff;
    overflow: hidden;
    cursor: pointer;

}

.card-l1 img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    transition: filter 0.4s ease-in-out;
    filter: brightness(0.7);
    }

.card-l1 figcaption {
    width: 100%;
    padding: 80px var(--li-card-padding) var(--li-card-padding);
    position: absolute;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4) 80px);
}

.card-l1 .tp_h-smaller {
    margin-bottom: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--l1-title-clamp);
/*    -webkit-line-clamp: var(--l1-title-clamp-hover);*/
    overflow: hidden;
}

.card-l1 .hide {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease-in-out;
}

.card-l1 .intro {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--l1-intro-clamp);
    overflow: hidden;
    margin-top: var(--sp_px-m);
}

.card-l1 .cp_cta_tertiary {
    margin-top: var(--sp_px-m);
}


@media (any-hover: hover) {
    .card-l1 img {
    filter: none;
    }
    
    .card-l1:is(:hover, :focus-within) img {
        filter: brightness(0.7);
    }

    .card-l1 .tp_h-smaller {
        -webkit-line-clamp: var(--l1-title-clamp);
    }

    .card-l1:hover .tp_h-smaller {
        /*    -webkit-line-clamp: var(--l1-title-clamp-hover);*/
    }

    .card-l1:is(:hover, :focus-within) .hide {
        max-height: 200px;
    }
}





.card-l2 img {
    aspect-ratio: 16 / 9;
    object-fit: cover;
    margin-bottom: var(--sp_px-l);
}

.card-l2 figcaption > *:not(:first-child) {
    margin-top: var(--sp_px-s);
}

.card-l2 :is(.date, .keyword) {
    font-size: 14px;
    font-weight: 700;
    color: var(--nv-6-5-66);
}
.card-l2 .tp_h-smallest {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--l2-title-clamp);
    overflow: hidden;
}



.card-l2 .keyword {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--l2-keyword-clamp);
    overflow: hidden;
}

.card-l2 .keyword li {
    cursor: pointer;
    display: inline;
}

.card-l2 .keyword li:not(:last-child)::after {
    content: ',';
    margin-right: 2px;
}

.card-l2 .keyword li:hover {
    color: var(--nv-0);
}

.card-l2 .intro {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--l2-intro-clamp);
    overflow: hidden;
}




.card-l3 figcaption {
    grid-column: var(--card-l3-caption-span);
}
.card-l3 img {
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.card-l3 figcaption > *:not(:first-child) {
    margin-top: var(--sp_px-s);
}

.card-l3 :is(.date, .keyword) {
    font-size: 14px;
    font-weight: 700;
    color: var(--nv-6-5-66);
}
.card-l3 .tp_h-smallest {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--l3-title-clamp);
    overflow: hidden;
}

.card-l3 .keyword {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--l3-keyword-clamp);
    overflow: hidden;
}

.card-l3 .keyword li {
    cursor: pointer;
    display: inline;
}

.card-l3 .keyword li:not(:last-child)::after {
    content: ',';
    margin-right: 2px;
}

.card-l3 .keyword li:hover {
    color: var(--nv-0);
}

.card-l3 .intro {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--l3-intro-clamp);
    overflow: hidden;
}



.md_3piece figcaption {
/*    display: none;*/
}
.md_3piece .vertical-2 {
    grid-row: var(--3piece-span);
}
.vertical-2 img {
    width: 100%;
    height: 100%;
/*    object-fit: cover;*/
/*    aspect-ratio: 16 / 9;*/
}
.vertical-2 figcaption > *:not(:first-child), .vertical-2 :is(.intro, .cp_cta_tertiary) {
    margin-top: var(--sp_px-m);
}
.vertical-2 :is(.date, .keyword) {
    font-size: 14px;
    font-weight: 700;
}

.vertical-2 .keyword {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--l2-keyword-clamp);
    overflow: hidden;
}

.vertical-2 .keyword li {
    cursor: pointer;
    display: inline;
}

.vertical-2 .keyword li:not(:last-child)::after {
    content: ',';
    margin-right: 2px;
}
.vertical-2 .keyword li:hover {
/*    color: var(--nv-16);*/
}



.md_4piece .span {
    grid-column: var(--md_4piece-large-span);
/*    grid-column: span 2;*/
}
.md_4piece figure {
    position: relative;
}
.md_4piece img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 16 / 9;
}
.md_4piece figcaption {
    max-width: 100%;
    padding: var(--sp_em-xs);
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    position: absolute;
    right: 0;
    bottom: 0;
}
.md_4piece figcaption *:not(.credit) {
    display: none;
}
.md_4piece .credit::before {
    content: '\000A9' ' ';
/*    margin-right: 0.1em;*/
}



/*============= placeholder modules ==============*/
nav li {
    padding: 0 var(--res_padding-lr);
}
nav li:first-child {
    background-color: #ffffff;
    color: #1a1a1a;
    height: 44px;
}
nav li:first-child div {
    line-height: 44px;
}
nav li:nth-child(2) {
    background-color: #1a1a1a;
    color: #ffffff;
    height: 66px;
}
nav li:nth-child(2) div {
    line-height: 66px;
}

footer section:first-child {
    background-color: var(--nv-15-5-f7);
/*    color: var(--nv-16);*/
}
footer section:nth-child(2) {
/*    background-color: var(--nv-16);*/
/*    color: var(--nv-1-5-1a);*/
}