:root {
    --cp_card-minw: min(80vw, 290px);
    --cp_card-maxw: 800px;
    --cp_card-padding: 16px;
    --cp_card-padding-l: 24px;
    
    --cp_card-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
    --cp_card-shadow2: 0px 4px 12px rgba(0, 0, 0, 0.2);
    --cp_card-shadow3: 0px 20px 40px rgba(0, 0, 0, 0.3);
    --cp_card-shadow-ho-inner: 0px 6px 8px rgba(0, 0, 0, 0.1);
    --cp_card-shadow-ho-outter: 0px 6px 30px rgba(0, 0, 0, 0.15);
    --cp_card-shadow3-ho: 6px 6px 0px 0px var(--nv-9-5-99), 0px 0px 0px 2px var(--nv-9-5-99);
    --boxshadow-card: 0px 2px 3px rgba(0, 0, 0, 0.1);
    --cp_card-glassbg: rgba(255, 255, 255, 0.8);
    --cp_card-glassgradient: linear-gradient(to bottom right, rgba(0, 0, 0, 0) 0% 2%, rgba(0, 0, 0, 0.4) 15%, rgba(0, 0, 0, 0) 35% 70%, rgba(0, 0, 0, 0.2) 85%, rgba(0, 0, 0, 0) 100%);
    /*    --cp_card-glassgradient: linear-gradient(to bottom right, rgba(118, 185, 0, 0) 0% 2%, rgba(118, 185, 0, 0.8) 15%, rgba(118, 185, 0, 0) 35% 70%, rgba(118, 185, 0, 0.4) 85%, rgba(118, 185, 0, 0) 100%);*/
    --white: #ffffff;
    
    --swap-layout: block;
    --swap-asepct: 16 / 9;
    
    --grid-gap-ver: calc(var(--cp_card-padding) * 2);


}

.whitesection {
    --cp_card-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    --cp_card-shadow-ho-inner: 0px 10px 14px rgba(0, 0, 0, 0.2);
    --cp_card-shadow-ho-outter: 0px 10px 40px rgba(0, 0, 0, 0.15);
    --cp_card-glassbg: rgba(247, 247, 247, 0.8);
}


@media screen and (min-width: 640px) {
    :root {
        --cp_card-padding: 20px;
        --cp_card-padding-l: 32px;
        --3col: repeat(2, 1fr);
        --2col: repeat(2, 1fr);
        --align-lines-p: 7;
        --align-lines-h4: 3;
        --align-lines-lead: 2;
        
        --grid-gap-ver: 30px;
    }
}

@media screen and (min-width: 1024px) {
    :root {
        --cp_card-padding: 24px;
        --cp_card-padding-l: 40px;
        --3col: repeat(3, 1fr);
        --align-lines-lead: 3;
    }
}

@media screen and (min-width: 1350px) {
    :root {

        --cp_card-padding: 32px;
        --cp_card-padding-l: 48px;
        --swap-layout: flex;
        --swap-asepct: unset;
        --swap-imgw: 33%;
        --align-lines-p: 5;
        --align-lines-lead: 2;
    }
}


body {
    background-color: var(--nv-15-ee);
}

body > *:nth-child(even) {
    background-color: var(--nv-15-5-f7);
}

.imagebg {
    background: url(../assets/nv-proviz-kv-me-final-5770x2500.jpeg) fixed no-repeat center / cover;
    background-image: url(../assets/Endeavor-NVIDIA-HQ-10.jpeg);
    background-image: url(../assets/Endeavor-Dec2018-244.jpeg);
    background-image: url(../assets/2021-nvidia-corporate-key-visual-16x9-dark-4k.jpeg);
    background-image: url(../assets/nvidia-kv-light-blog-header-no-copy-1260x680.jpeg);
    background-image: url(../assets/isaac-nova-orin-blog-1280x680.jpeg);
}

.whitesection {
    background-color: var(--white);
}

/*=============== page layout =============*/
section > ul {
    display: grid;
    grid-template-columns: var(--3col);
    grid-gap: var(--grid-gap-ver) 30px;
/*    align-items: start;*/
}

.imagebg > ul {
    display: block;
    columns: 200px 3;
    column-gap: var(--cp_card-padding);
}

.imagebg > ul > li {
    break-inside: avoid;
    margin-bottom: var(--cp_card-padding);
}

.col-2 > ul {
    grid-template-columns: var(--2col);
}

section > h3 {
    margin-bottom: var(--sp_em-xxxl);
}

section > h4 {
    margin: var(--sp_em-xxxl) 0 var(--sp_em-l);
}

/*================cp_card base size space ===================*/

.cp_card_base {
    min-width: var(--cp_card-minw);
    max-width: var(--cp_card-maxw);
/*    cursor: pointer;*/
}

.cp_card_base:not(.glass) :is(p:not(.tp_bold), .cardpadding):first-child {
    display: none;
}

.cp_card_base img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.cardpadding {
    padding: var(--cp_card-padding);
}

.borderpadding {
    padding: calc(var(--cp_card-padding) / 2);
}

.cp_card_base > div > *:not(:last-child) {
    margin-bottom: var(--sp_px-m);
}
.margin-padding.margin-padding  > *:not(:last-child) {
    margin-bottom: var(--cp_card-padding);
}
.cp_card_promo_base > div > *:not(:last-child) {
    margin-bottom: var(--sp_px-m);
}

.internalalign > h4 {
    min-height: calc(1.25em * var(--align-lines-h4));
}

.internalalign > p {
    min-height: calc(1.5em * var(--align-lines-p));
}

section:nth-child(6) > ul:last-of-type .cardpadding:first-child {
    min-height: calc(1.5em * var(--align-lines-lead));
    box-sizing: content-box;
}

/*===================== card visual styling ===================*/
.bgpattern {
    background: url(../assets/pattern_dot.svg) repeat, var(--nv-16);
}
.bg {
    background-color: var(--nv-16);
}
.bgf7 {
    background-color: var(--nv-15-5-f7);
}

.shadow {
    box-shadow: var(--cp_card-shadow);
}
.shadow2 {
    box-shadow: var(--cp_card-shadow2);
}
.shadow3 {
    box-shadow: var(--cp_card-shadow3);
}

.border {
    border: 1px var(--nv-12-5-cc) solid;
    transition: var(--02transition);
}

.tinted {
    /*  cascade, before background-clip  */
    background: linear-gradient(to bottom right, rgba(0, 255, 49, 0.05), rgba(255, 235, 0, 0.05) 30% 70%, rgba(0, 157, 255, 0.1)), var(--cp_card-glassbg);
}

.glass {
    background-color: var(--cp_card-glassbg);
    background-clip: padding-box;
    border: 1px solid green;
    border-image: var(--cp_card-glassgradient) 1 / 1px;
}

.frosted {
    backdrop-filter: blur(20px);
}

.frostedshadow {
    position: relative;
}

.frostedshadow .frosted {
    position: relative;
    z-index: 1;
}

.frostedshadow::after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    border: 1px rgba(0, 0, 0, 0.1) solid;
    position: absolute;
    top: 8px;
    left: 8px;
    background-color: rgba(0, 0, 0, 0.05);
    filter: blur(1px);
}

.clearshadow {
    position: relative;
}

.clearshadow .glass {
    position: relative;
    z-index: 1;
}

.clearshadow::after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    border: 1px rgba(0, 0, 0, 0.08) solid;
    position: absolute;
    top: 8px;
    left: 8px;
    background-color: rgba(0, 0, 0, 0.008);
}

.overlay .glass {
    margin: calc(var(--cp_card-padding) * -2) var(--cp_card-padding) 0;
}

.rule {
    border-bottom: 1px solid var(--nv-12-5-cc);
}

.glass .rule {
    border-bottom: 1px solid var(--nv-9-5-99);
}

@media (prefers-color-scheme: light) {

    .imagebg:last-of-type .glass {
        background-color: var(--nv-16);
        background-clip: padding-box;
        border: 1px solid transparent;
        border-image: unset;
    }

    .imagebg:last-of-type .glass .cp_chip {
        background-color: var(--nv-15-5-f7);
    }
}


.cp_card_promo_base {
    color: var(--nv-16);
    background-color: var(--nv-0);
    position: relative;
}
.cp_card_promo_base img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-mask-image: linear-gradient(to left, rgba(0,0,0,1) 0% 20%, rgba(0,0,0,0) 60%);
}
.cp_card_promo_base div {
    width: 66.66%;
    position: relative;
    z-index: 1;
}


.test {
    height: 500px;
    border: 1px solid green;
    background: linear-gradient(to bottom right, red, yellow);
    /*    background: red;*/
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0) 0% 25%, rgba(255, 255, 255, 0.6) 25% 50%);
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0) 0% 5%, rgba(0, 255, 255, 1) 5% 20%, rgba(255, 255, 255, 1) 20% 40%, yellow 40% 60%, blue 60% 80%, green 80% 100%);
/*    background-repeat: no-repeat;*/
/*    background-size: 100% 100%;*/
    
    transition: background-position 0.2s ease-in-out;
}
.test:hover {
/*    background-size: 100% 50%;*/
    background-position: 100px 100px;
/*    background-position: 50% 50%;*/
}


/*================= interaction ===================*/
.hover {
    transition: var(--02transition);
    transition-duration: 0.4s;
    transition-property: transform, box-shadow;
}

.hover:is(:hover, :focus-within, :focus) {
    box-shadow: var(--cp_card-shadow-ho-outter), var(--cp_card-shadow-ho-inner);
    transform: translateY(-2px);
}

.hover.reversehover:is(:hover, :focus-within, :focus)  {
    transform: translateY(-2px);
    box-shadow: var(--cp_card-shadow3-ho);
}

.glasshover :is(.frosted),
.frostedshadow.glasshover::after {
    transition-timing-function: ease-out;
    transition-duration: 0.3s;
    transition-property: transform, filter;
}

.glasshover:is(:hover, :focus-within, :focus) .frosted {
    transform: translateY(-2px);
}

.frostedshadow.glasshover:is(:hover, :focus-within, :focus)::after {
    filter: blur(2px) opacity(70%);
}

.border:is(:hover, :focus-within, :focus) {
    border-color: var(--nv-9-5-99);
}

/*================= card internal layout swap ===================*/
.hori {
    display: flex;
}

.hori.gap {
    gap: calc(var(--cp_card-padding) / 2);
}

.hori img {
    aspect-ratio: unset;
}

.hori .one {
    flex: 0 0 33%;
    width: 33%;
}

.hori .two {
    flex: 1 1 auto;
}

.swap_layout {
    display: var(--swap-layout);
}

.swap_layout > img {
    flex: 0 1 33%;
    width: var(--swap-imgw);
    aspect-ratio: var(--swap-aspect);
}

.swap_layout > div {
    flex: 1 0 66%;
}


/*================= scrolling ===================*/

@media screen and (any-hover: none) and (max-width: 1023px) {
    :root {
/*        --cp_card-minw: min(80vw, 300px);*/
    }

    .md_scroll {
        display: flex;
        max-width: unset;
        overflow: scroll;
        scroll-snap-type: x;
        margin: 0 -10px;
        scroll-padding-left: max(var(--padding-lr), calc((100vw - var(--wrapper)) / 2));
    }

    .md_scroll li {
        scroll-snap-align: start;
        flex: 0 0 min(80vw, 300px);
    }

    .md_scroll::before,
    .md_scroll::after {
        content: '';
        display: block;
        width: calc((100vw - var(--wrapper)) / 2);
        width:  max(var(--padding-lr), calc((100vw - var(--wrapper)) / 2));
        height: 60px;
        /*        background-color: red;*/
        flex: 0 0 auto;
        margin-right: calc(var(--cp_card-padding) * -1);
        scroll-snap-align: start;
    }


    .md_scroll::after {
        margin-left: calc(var(--cp_card-padding) * -1);
        margin-right: unset;
    }
}

@media screen and (any-hover: none) and (max-width: 639px) {

     .md_scroll {
        scroll-padding-left: var(--padding-lr);
    }
    .md_scroll::before,
    .md_scroll::after {
        content: '';
        display: block;
        width: var(--padding-lr);

    }
}


/*================= additiona components ===================*/

.cp_texthighlight {
    background-color: var(--)
}

.md_groupimg {
    display: flex;
    flex-wrap: wrap;
    gap: var(--sp_em-xs);
}

.md_groupimg img {
    width: 45%;
    flex: 1 1 auto;
}

.md_chipcontainer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: var(--sp_em-xs);
}

.cp_chip {
    display: block;
    padding: var(--sp_em-xs) var(--sp_em-m);
    margin: 0;
    font-size: 14px;
    background-color: var(--nv-15-5-f7);
    border-radius: 999px;
}

.glass .cp_chip {
    background-color: var(--cp_card-glassbg);
}


.cp_ul-customimage {
    line-height: 1.4;
    list-style: none;
    padding-left: var(--sp_em-xxxxl);
}

.cp_ul-customimage li {
    position: relative;
}


.cp_ul-customimage li + li {
    margin-top: var(--sp_em-l);
}

.ic_font {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;

    display: block;
    position: absolute;
    left: calc(-1em - var(--sp_em-s));
    top: calc(15px * 1.4 / 2);
    transform: translateY(-50%);
}

.person .hori {
    align-items: flex-end;
    padding: 0 var(--cp_card-padding);
    margin-top: -12%;
}

.person .hori img {
    aspect-ratio: 1 / 1;
    margin: 0;
    border: 4px solid currentcolor;
    border-radius: 1em;
}




.expansion {
    border-top: 1px solid var(--nv-9-5-99);
    padding: calc(var(--cp_card-padding) / 2) var(--cp_card-padding);
}

.expansion input {
    display: none;
}

.expansion label:nth-child(2) {
    display: block;
    position: relative;
    margin: 0;
    cursor: pointer;
}

.expansion label::after {
    content: 'expand_more';
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;

    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: var(--02transition);
}

.expansion ul {
    font-size: 13px;
    max-height: 0px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    gap: 0px var(--sp_em-xxxxl);
    transition: var(--02transition);
}

.expansion input:checked ~ ul {
    max-height: 120px;
}

.expansion input:checked ~ label::after {
    transform: translateY(-50%) rotate(180deg);
}

.contact li {
    padding-left: var(--sp_em-xxl);
    position: relative;
    margin-top: var(--sp_em-m);
}

.contact span {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;

    display: block;
    position: absolute;
    left: 0;
    top: 9.75px;
    transform: translateY(-50%);
}

.cp_ul-chev {
    padding-left: var(--sp_em-xxxl);
    line-height: 1.4;
}

.cp_ul-chev > li {
    position: relative;
}

.cp_ul-chev > li::before {
    content: '';
    display: block;
    width: calc(1em + 1px);
    height: calc(1em + 1px);
    background: url(../assets/ic_chevron_dropdown_small_black.svg) no-repeat center / contain;
    position: absolute;
    top: calc(1em * 1.4 / 2 - (1em + 1px) / 2);
    /*    align to the middle like a bullet */
    left: calc((1em + 1px) * -1 - var(--sp_em-xs));
    transform: rotate(-90deg);
}

.cp_ul-chev li + li {
    margin-top: var(--sp_em-s);
}
