:root {


}



@media screen and (min-width: 640px) {
    :root {

    }
    
}
   
@media screen and (min-width: 1024px) {
    :root {
      
    }
}

@media screen and (min-width: 1350px) {
    :root {
   
    }
     
}


@media (prefers-color-scheme: dark) {

    :root {

        
    }

}
.no-break-custom {
    white-space: nowrap;
    padding-right: var(--cp_cta-icon-size);
    position: relative;
}
.no-break-custom::after {
    content: "navigate_next";
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: var(--cp_cta-icon-size);
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}




.option1 .cp_card_promo_base {
    cursor: pointer;
}

.option2 h3:not(:first-child) {
    margin-top: calc(var(--sp_px-xxxl) * 2);
}

.promo_flex {
    display: flex;
    flex-wrap: wrap;
    gap: var(--sp_px-xl);
}

.tp_p-s {
    margin-bottom: var(--sp_em-xs);
}


.cp_card_base > *:not(:last-child) {
    margin-bottom: var(--sp_px-m);
}

.cp_card_base img {
    aspect-ratio: unset;
    width: 96px;
}

.horizontal {
    display: flex;
    align-items: start;
    gap: var(--sp_px-m);
}
.horizontal img {
    width: 64px;
    flex: 0 0 auto;
}
.horizontal div {
    flex: 1 1 auto;
}
.horizontal div > *:not(:last-child) {
    margin-bottom: var(--sp_px-s);
}