:root {
    --cp_card-homelargew: calc(100vw - 90px);
    --cp_card-h3-size: 18px;
    --hideblock: block;
    --hidegrid: none;
    --scroll_spaceholder: var(--padding-lr);
    --grid-gap-ver: 30px
}



@media screen and (min-width: 640px) {
    :root {
        --cp_card-homelargew: 380px;
        --scroll_spaceholder: max(var(--padding-lr), calc((100vw - var(--wrapper) - 16px) / 2));
    }
    
    
    
    #alignelements {
        --align-lines-p: 9;
        --align-lines-cta: 2;
}
}

@media screen and (min-width: 1024px) {
    :root {
       --cp_card-homelargew: 400px;
        --cp_card-h3-size: 20px;
        --hideblock: none;
        --hidegrid: block;
    }
}

@media screen and (min-width: 1350px) {
    :root {
    --cp_card-homelargew: 420px;

    }
     #alignelements {
        --align-lines-p: 7;
}
}


@media (prefers-color-scheme: dark) {

    :root {

        
    }

}



#alignelements li p {
    min-height: calc(1.5em * var(--align-lines-p));
}
#alignelements li a {
    min-height: calc(1.25em * var(--align-lines-cta));
}


/*
.cp_cta_3rd_wrap {
    padding: 0;
    width: unset;
    overflow: hidden;
}

.nobreak {
    white-space: nowrap;
}
*/
.no-break-custom {
    white-space: nowrap;
    padding-right: var(--cp_cta-icon-size);
    position: relative;
}
.no-break-custom::after {
    content: "navigate_next";
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: var(--cp_cta-icon-size);
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.margin-padding-s > *:not(:last-child) {
    margin-bottom: var(--sp_px-xl);
}

.col-2 .cardpadding {
/*    padding: var(--cp_card-padding-l);*/
}

/*================= screen edge scrolling for card all viwports & devices ===================*/

        .md_scroll-edge {
        display: flex;
        max-width: unset;
        overflow-x: scroll;
        gap: 30px;
        scroll-snap-type: x;
        scroll-padding-left: var(--scroll_spaceholder);
        margin: 0 calc(var(--padding-lr) * -1);
        padding-bottom: 6px;
    }
.md_scroll-edge::-webkit-scrollbar {
    display: none;
}

    .md_scroll-edge > li {
        scroll-snap-align: start;
    }

    .md_scroll-edge::before,
    .md_scroll-edge::after {
        content: '';
        display: block;
/*        width: var(--padding-lr);*/
        width: var(--scroll_spaceholder);
        height: 60px;
/*        background-color: red;*/
        flex: 0 0 auto;
        margin-right: calc(var(--cp_card-padding) * -1);
        scroll-snap-align: start;
    }


    .md_scroll-edge::after {
        margin-left: calc(var(--cp_card-padding) * -1);
        margin-right: unset;
    }

/*
@media screen and (min-width: 640px) {
    .md_scroll-edge::before,
    .md_scroll-edge::after {
        content: '';
        display: block;
        width: calc((100vw - var(--wrapper) - 16px) / 2);
    }
}
*/

/*================= home page scroll styles ===================*/

.homecardsmall {
    --cp_card-padding: 16px;
}

.homecardsmall .cp_card_base {
    flex: 0 0 min(80vw, 300px);
    cursor: pointer;
}
.homecardsmall .cardpadding > *:not(:last-child) {
    margin-bottom: 8px;
}
.homecardsmall h4 {
    font-size: 15px;
    margin-top: 0;
}

.introblock {
    display: var(--hideblock);
    margin-bottom: var(--sp_em-xxxxl);
}
.introgrid {
    display: var(--hidegrid);
}


.homecardlarge :is(.cp_card_base, .introgrid) {
    flex: 0 0 var(--cp_card-homelargew);
    cursor: pointer;
}
.homecardlarge h3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-top: 0;
    font-size: var(--cp_card-h3-size);
}
.homecardlarge P:last-child {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}


.nolink:hover {
    color: var(--nv-green);
}
