:root {
    --box-bgcolor-dark: rgba(0, 0, 0, 0.7);
    --box-bgcolor-light: rgba(255, 255, 255, 0.7);
    
    --nosplit-padding: 300px var(--padding-lr) 10px;
    
    --box-padding_xxs: 15px;
    --box-padding_xs: 20px;
    --box-padding_s: 20px;
    --box-padding_m: 25px;
    --box-padding_l: 30px;
    
    --box-gap_xxs: 7.5px;
    --box-gap_xs: 10px;
    --box-gap_s: 10px;
    --box-gap_m: 12.5px;
    --box-gap_l: 15px;
}

@media screen and (min-width: 480px) {
    :root {}

}


@media screen and (min-width: 640px) {
    :root {
        
    --casestudy-height: 550px;
        
    --nosplit-padding: var(--padding-section);
        
    --box-padding_xxs: 20px;
    --box-padding_xs: 25px;
    --box-padding_s: 25px;
    --box-padding_m: 30px;
    --box-padding_l: 35px;
    
    --box-gap_xxs: 10px;
    --box-gap_xs: 12.5px;
    --box-gap_s: 12.5px;
    --box-gap_m: 15px;
    --box-gap_l: 17.5px;
    }

}

@media screen and (min-width: 1024px) {
    :root {
    --casestudy-height: 660px;
        
    --box-padding_xxs: 25px;
    --box-padding_xs: 25px;
    --box-padding_s: 30px;
    --box-padding_m: 35px;
    --box-padding_l: 45px;
    
    --box-gap_xxs: 12.5px;
    --box-gap_xs: 12.5px;
    --box-gap_s: 15px;
    --box-gap_m: 17.5px;
    --box-gap_l: 22.5px;
    }

}

@media screen and (min-width: 1350px) {
    :root {
    --casestudy-height: 770px;
        
    --box-padding_xxs: 25px;
    --box-padding_xs: 30px;
    --box-padding_s: 35px;
    --box-padding_m: 45px;
    --box-padding_l: 60px;
    
    --box-gap_xxs: 12.5px;
    --box-gap_xs: 15px;
    --box-gap_s: 17.5px;
    --box-gap_m: 22.5px;
    --box-gap_l: 30px;
    }


}



/*
@media (prefers-color-scheme: dark) {

   
}
*/


/*================= banner ========================*/



.box {
    --box-padding: var(--box-padding_xxs);
    padding: var(--box-padding);
}
:is(h1, h2, h3, h4) {
    margin: 0;
}
.box > *:not(:last-child) {
    margin-bottom: calc(var(--box-padding) / 2);
}
/*.box.padding-xxs {--box-padding: var(--box-padding_xxs);}*/
.box.padding-xs {--box-padding: var(--box-padding_xs);}
.box.padding-s {--box-padding: var(--box-padding_s);}
.box.padding-m {--box-padding: var(--box-padding_m);}
.box.padding-l {--box-padding: var(--box-padding_l);}



@media screen and (min-width: 640px) {

    .sc_banner {
        position: relative;
        padding: var(--padding-section);
        background-color: transparent !important;
    }

    .sc_banner figure {
        display: flex;
        align-items: center;
        min-height: calc(520px - var(--padding-tb)*2);
    }

    .sc_banner figure :is(img, video) {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        object-fit: cover;
    }
    
    .box {
        position: relative;
/*        zindex*/
        color: var(--nv-16);
        background-color: var(--box-bgcolor-dark);
        backdrop-filter: blur(15px);
    }

    .box.light {
        color: var(--nv-0);
        background-color: var(--box-bgcolor-light);
    }
    
    .colconfig {
        width: calc(((var(--wrapper) - 330px) / 12) * var(--tb-colspan) + 30px * var(--tb-colspan) - 30px);
    }

}

@media screen and (min-width: 1024px) {
    .colconfig {
        width: calc(((var(--wrapper) - 330px) / 12) * var(--lp-colspan) + 30px * var(--lp-colspan) - 30px);
    }
}

@media screen and (min-width: 1350px) {
    .colconfig {
        width: calc(((var(--wrapper) - 330px) / 12) * var(--dt-colspan) + 30px * var(--dt-colspan) - 30px);
    }
}


/*================= gtc ========================*/


video {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

.cp_cta_prim {
    color: var(--nv-0);
    background-color: var(--nv-green);
}

@media screen and (max-width: 639px) {
    .gtc video {
        aspect-ratio: 16 / 9;
    }
}

@media screen and (min-width: 640px) {
.gtc figure {
        min-height: calc(580px - var(--padding-tb)*2);
    }
}




/*================= case study ========================*/




.casestudy img {
    object-position: center 100%;
}

@media screen and (max-width: 639px) {
    .casestudy img {
        aspect-ratio: 16 / 9;
    }
}

@media screen and (min-width: 640px) {
    .casestudy figure {
        min-height: calc(var(--casestudy-height) - var(--padding-tb)*2);
    }
}


/*================= carousel ========================*/
.cp_carousel figure {
    
}

@media screen and (min-width: 640px) {
    .cp_carousel figure {
    position: relative;
    display: flex;
    align-items: center;
    height: 520px;
}
.cp_carousel figure img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

}


/*================= NV brand gar ========================*/

.box.brandbar {
    border-top: 10px solid var(--nv-green);
    color: var(--nv-16);
    background-color: var(--box-bgcolor-dark);
    backdrop-filter: blur(15px);

    &.light {
        color: var(--nv-0);
        background-color: var(--box-bgcolor-light);
    }
    @media screen and (min-width: 640px) {
        border-top: none;
        border-left: 10px solid var(--nv-green);
    }
}
.box.brandbar.half {
    border: none;
    padding-top: calc(var(--box-padding) + 10px);
    
        @media screen and (min-width: 640px) {
            padding-top: var(--box-padding);
            padding-left: calc(var(--box-padding) + 10px);
    }
}
.box.brandbar.half::after {
    content: ' ';
    width: 50%;
    height: 10px;
    background-color: var(--nv-green);
    position: absolute;
    top: 0;
    left: 0;
}

    @media screen and (min-width: 640px) {
        .box.brandbar.half::after {
     width: 10px;
    height: 50%;
        }
    }


/*================= no split on phone viewport ========================*/
  
.notsplit {
    
        position: relative;
        padding: var(--nosplit-padding);
        background-color: transparent !important;
    
    & figure {
        display: flex;
        align-items: center;
/*        min-height: calc(520px - var(--padding-tb)*2);*/
    }

    & figure :is(img, video) {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        object-fit: cover;
        z-index: -1;
    }
    
    & .box {
        color: var(--nv-16);
        background-color: var(--box-bgcolor-dark);
        backdrop-filter: blur(15px);
    }

    & .box.light {
        color: var(--nv-0);
        background-color: var(--box-bgcolor-light);
    }
    & .box.brandbar {
        border-top: none;
        border-left: 10px solid var(--nv-green);
    }
}
    


