:root {


    
    
   
    

}

@media screen and (min-width: 640px) {
    :root {
    

        

}
}

@media screen and (min-width: 1024px) {
    :root {
    
    

        

}
}

@media screen and (min-width: 1350px) {
    :root {
        

}
}

/*=========== base ===========*/
main {
    padding-top: 128px;
    padding-bottom: 128px;
}
main.padding > :nth-child(n + 2) {
    margin-top: 32px;
}


/*=========== table general ===========*/

.cp_table_qsc {
    background-color: var(--nv-15-5-f7);
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}
col:nth-child(even), thead th:nth-child(even) {
    background-color: var(--nv-15-ee);
}

/* =======table header ===========*/
thead {
    position: sticky;
    top: 0;
    z-index: 1;
}
thead th {
/*    padding: var(--cell-tb-xl) var(--cell-tb-m);*/
/*    padding-right: calc(8px + 14px + var(--cell-tb-m));*/
    text-align: left;
    font-weight: 700;
    position: relative;
    background: linear-gradient(to top, var(--nv-6-5-66) 0px 3px, transparent 3px), var(--nv-15-5-f7);
}

th a {
    color: var(--nv-1-5-1a);
    display: block;
}
th a::after, th .menuselect::after {
    content: '';
    display: block;
    width: 14px;
    height: 8px;
    background: url(../assets/qsc/dropdown_arrow.svg) no-repeat center / contain;
    position: absolute;
    right: var(--cell-tb-m);
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.2s ease-in-out;
}
th a:active::after, input:checked ~ .menuselect::after {
    background-image: url(../assets/qsc/dropdown_arrow_green.svg);
    transform: translateY(-50%) rotate(180deg);
    transform-origin: center center;
}


/*================= new table head filter ===========*/


.cp_thead_dropdown {
    position: relative;
    
}
.cp_thead_dropdown > :is(input[id], .backdrop, .front) {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.cp_thead_dropdown input[id] {
    display: block;
    opacity: 1;     
    width: 100%;
    height: 100%;
    appearance: none;
}

.cp_thead_dropdown > label.dropdown_text {
    display: block;
    padding: var(--cell-tb-xl) calc(8px + 16px + var(--cell-tb-m)) var(--cell-tb-xl) var(--cell-tb-m);
    cursor: pointer;
    position: relative;
}

.cp_thead_dropdown > label.dropdown_text::after {
    content: 'filter_list';
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;

    display: block;
    position: absolute;
    right: var(--cell-tb-m);
    top: 50%;
    transform: translateY(-50%);
    
    background-color: transparent;
    width: 1.5em;
    line-height: 1.5;
    border-radius: 50%;
    text-align: center;
    right: calc(var(--cell-tb-m) - 0.25em);
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.cp_thead_dropdown > input[id]:checked ~ label.dropdown_text::after {
    color: var(--nv-green);
    background-color: var(--nv-16);
}

.cp_thead_dropdown:has(.cp_thead_dropdown_pop input:checked) > label.dropdown_text::after {
    content: 'filter_alt';
    color: var(--nv-green);
}


.cp_thead_dropdown > input[id]:checked ~ .backdrop {
    display: block;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: green;
    z-index: -1;
}
.cp_thead_dropdown > input[id]:checked ~ .front {
    display: block;
    width: 100%;
    height: 100%;
    background-color: red;
    cursor: pointer;
}
#dropdown_close {
    display: none;
/*    visibility: collapse;*/
    width: 0px;
    height: 0px;
    opacity: 0; 
    
}


.cp_thead_dropdown_pop {
    
/*
    width: max-content;
    max-width: min(400px, 80vw);
    min-width: 200px;
*/
    width: 220px;
    max-height: 400px;
    overflow-y: auto;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    padding: var(--sp_em-s) var(--sp_em-l);
    background-color: var(--nv-16);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    top: calc(80% - 8px);
    left: 0;
    transform: scale(1%);
    transform-origin: top left;
    opacity: 0;
    transition: transform 0s ease-in-out 0.2s, opacity 0.2s ease-in-out, top 0.2s ease-in-out;
    z-index: 3;
}
.cp_thead_dropdown > input[id]:checked ~ .cp_thead_dropdown_pop {
    opacity: 1;
    transform: none;
    top: 80%;
    transition: opacity 0.2s ease-in-out 0.01s, top 0.2s ease-in-out 0.01s, transform 0s ease-in-out;
}


.cp_thead_dropdown_pop label {
    display: block;
    padding: var(--sp_em-s) 0 var(--sp_em-s) calc(var(--sz_icon-s) + var(--sp_em-s));
    line-height: 1.2;
    position: relative;
    white-space: normal;
}
.cp_thead_dropdown_pop label input {
    visibility: hidden;
}

.cp_thead_dropdown > input[id]:checked ~ .cp_thead_dropdown_pop label input {
    visibility: visible;
}

.cp_thead_dropdown_pop input:is([type="checkbox"], [type="radio"]) {
    position: absolute;
    left: 0;
/*    top: calc( (1.2em + var(--sp_em-s) + var(--sp_em-s))/2 - var(--sz_icon-s)/2 );*/
    top: calc( var(--sp_em-s) + 0.6em - var(--sz_icon-s)/2);
    appearance: none;
    width: var(--sz_icon-s);
    height: var(--sz_icon-s);
    background: url(../../css/cp_assets/ic_checkbox_inactive.svg) no-repeat center / auto;
}

.cp_thead_dropdown_pop :is([type="checkbox"], [type="radio"]):checked {
    background-image: url(../../css/cp_assets/ic_checkbox_active_green.svg);
}















.menuselect {
    display: block;
    cursor: pointer;
}
th > input {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.dropmenu {
    position: absolute;
    width: fit-content;
    background-color: var(--nv-16);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
    top: calc(100% + 3px);
    left: 0;
    transform: translateY(-6px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
    font-weight: 400;
}

input:checked ~ .dropmenu {
    opacity: 100;
    transform: translate(0px);
}

/*
.dropmenu:target {
    opacity: unset;
    transform: translate(0px);
}
*/

.dropmenu label {
    display: block;
    padding: var(--cell-tb-m);
    position: relative;
    padding-left: calc(var(--cell-tb-m) + 14px + 8px);
    line-height: 1.3;
    white-space: nowrap;
}
.dropmenu label:nth-child(n + 2) {
    border-top: 1px solid var(--nv-12-5-cc);
}
.dropmenu label:hover {
    background-color: var(--nv-15-5-f7);
}
.dropmenu input[type="checkbox"] {
    position: absolute;
    left: var(--cell-tb-m);
    transform: translateY(2px);
    appearance: none;
    width: 14px;
    height: 14px;
    background: url(../assets/qsc/ic_checkbox_inactive.svg) no-repeat center / contain;
}
.dropmenu input[type="checkbox"]:checked {
    background-image: url(../assets/qsc/ic_checkbox_active.svg);
}

/* ======= table body ===========*/
tbody tr:nth-child(n + 2) {
    border-top: 1px solid var(--nv-12-5-cc);
}
td {
    padding: var(--cell-tb-m);
}

/*============== sticky ===================*/
@media screen and (max-width: 1023px) {
    .tablescroll {
    overflow: auto;
    width: 100%;
    max-height: 90vh;
    scrollbar-width: none;
}
    .cp_table_qsc {
        white-space: nowrap;
    }
    thead th:first-child {
        position: sticky;
        left: 0;
        background-color: var(--nv-15-5-f7);
        z-index: 2;
    }
    tbody td:first-child{
        position: sticky;
        left: 0px;
        background-color: var(--nv-15-5-f7);
          background-clip: padding-box;
/*        firefox fix */
    }

}


/*=================== hide table's scroll bar on non-mobile devices (for the original table design) ===================*/

@media screen and (any-hover: hover) {
        .tablescroll::-webkit-scrollbar {
        display: none;
    }
}
