:root {

    --res_padding-tb: 32px;
    --res_padding-lr: 10px;
    --res_padding-section: var(--res_padding-tb) var(--res_padding-lr);
    --res_wrapper: 416px;
    
    --res_gutter-xxs: 4px;
    --res_gutter-xs: 8px;
    --res_gutter-s: 12px;
    --res_gutter-m: 16px;
    --res_gutter-l: 20px;
    --res_gutter-xl: 24px;
    
}

@media screen and (min-width: 480px) {
    :root {
    --res_padding-tb: 32px;
    --res_padding-lr: 32px;
    --res_wrapper: 672px;
        
    --res_gutter-xxs: 6px;
    --res_gutter-xs: 12px;
    --res_gutter-s: 18px;
    --res_gutter-m: 24px;
    --res_gutter-l: 30px;
    --res_gutter-xl: 36px;
    }

}


@media screen and (min-width: 768px) {
    :root {
    --res_padding-tb: 48px;
    --res_padding-lr: 48px;
    --res_wrapper: 896px;
        
    --res_gutter-xxs: 8px;
    --res_gutter-xs: 16px;
    --res_gutter-s: 24px;
    --res_gutter-m: 32px;
    --res_gutter-l: 40px;
    --res_gutter-xl: 48px;

    }
}

@media screen and (min-width: 1024px) {
    :root {
    --res_padding-tb: 64px;
    --res_padding-lr: 64px;
    --res_wrapper: 1048px;

    --res_gutter-xxs: 10px;
    --res_gutter-xs: 20px;
    --res_gutter-s: 30px;
    --res_gutter-m: 40px;
    --res_gutter-l: 50px;
    --res_gutter-xl: 60px;
    }
}

@media screen and (min-width: 1240px) {
    :root {
    --res_padding-tb: 96px;
    --res_padding-lr: 96px;
    --res_wrapper: 1344px;

    --res_gutter-xxs: 12px;
    --res_gutter-xs: 24px;
    --res_gutter-s: 36px;
    --res_gutter-m: 48px;
    --res_gutter-l: 60px;
    --res_gutter-xl: 72px;
    }
}

@media screen and (min-width: 1600px) {
    :root {
    --res_padding-tb: 96px;
    --res_padding-lr: 128px;
    --res_wrapper: 1600px; 
        
    --res_gutter-xxs: 14px;
    --res_gutter-xs: 28px;
    --res_gutter-s: 42px;
    --res_gutter-m: 56px;
    --res_gutter-l: 70px;
    --res_gutter-xl: 84px;
    }
}

@media (prefers-color-scheme: dark) {

    :root {}
}
::-webkit-scrollbar {
    display: none;
}
.res_padding {
    padding: var(--res_padding-section);
    padding: 64px var(--res_padding-lr);
}
.res_wrapper {
    max-width: var(--res_wrapper);
    margin-left: auto;
    margin-right: auto;
}
.gridcontainer > ul {
    grid-gap: unset;
}

.res_gutter-xxs.res_gutter-xxs {
    grid-column-gap: var(--res_gutter-xxs);
}
.res_gutter-xs.res_gutter-xs {
    grid-column-gap: var(--res_gutter-xs);
}
.res_gutter-s.res_gutter-s {
    grid-column-gap: var(--res_gutter-s);
}
.res_gutter-m.res_gutter-m {
    grid-column-gap: var(--res_gutter-m);
}
.res_gutter-l.res_gutter-l {
    grid-column-gap: var(--res_gutter-l);
}
.res_gutter-xl.res_gutter-xl {
    grid-column-gap: var(--res_gutter-xl);
}

.res_gutter-xxs-percent.res_gutter-xxs-percent {
    grid-column-gap: 1%;
}
.res_gutter-xs-percent.res_gutter-xs-percent {
    grid-column-gap: 2%;
}
.res_gutter-s-percent.res_gutter-s-percent {
    grid-column-gap: 3%;
}
.res_gutter-m-percent.res_gutter-m-percent {
    grid-column-gap: 4%;
}
.res_gutter-l-percent.res_gutter-l-percent {
    grid-column-gap: 5%;
}
.res_gutter-xl-percent.res_gutter-xl-percent {
    grid-column-gap: 6%;
}



.description {
    font-weight: normal;
    margin-bottom: var(--sp_em-s);
    grid-column: 1 / -1;
}

@media screen and (min-width: 0px) and (max-width: 479px) {
    .res_mobile-s {
        display: grid;
    }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
    .res_mobile-l {
        display: grid;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .res_tablet {
        display: grid;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1239px) {
    .res_laptop {
        display: grid;
    }
}
@media screen and (min-width: 1240px) and (max-width: 1599px) {
    .res_desktop-s {
        display: grid;
    }
}
@media screen and (min-width: 1600px) {
    .res_desktop-l {
        display: grid;
    }
}