/*==========  color custom properties  ==========*/
:root { 
/*    Su Li's Dowry(color swatches) */
    --sw-0: #000000;
    --sw-0-5: #080808;
    --sw-1: #101010;
    --sw-1-5: #181818;
    --sw-2: #202020;
    --sw-2-5: #282828;
    --sw-3: #303030;
    --sw-3-5: #383838;
    --sw-4: #404040;
    --sw-4-5: #484848;
    --sw-5: #505050;
    --sw-5-5: #585858;
    --sw-6: #606060;
    --sw-6-5: #686868;
    --sw-7: #707070;
    --sw-7-5: #787878;
    --sw-8: #808080;
    --sw-8-5: #888888;
    --sw-9: #909090;
    --sw-9-5: #989898;
    --sw-10: #a0a0a0;
    --sw-10-5: #a8a8a8;
    --sw-11: #b0b0b0;
    --sw-11-5: #b8b8b8;
    --sw-12: #c0c0c0;
    --sw-12-5: #c8c8c8;
    --sw-13: #d0d0d0;
    --sw-13-5: #d8d8d8;
    --sw-14: #e0e0e0;
    --sw-14-5: #e8e8e8;
    --sw-15: #f0f0f0;
    --sw-15-5: #f8f8f8;
    --sw-16: #ffffff;
    --50transparent: #ffffff80;
    --70transparent: #ffffffbb;
    --100transparent: #ffffffff;
    
/*    NVIDIA web library 2.3 */
--nv-16: #ffffff;
--nv-15-5-f7: #F7F7F7;
--nv-15-ee: #EEEEEE;
--nv-14-dd: #dddddd;
--nv-12-5-cc: #CCCCCC;
--nv-9-5-99: #999999;
--nv-8-80: #808080;
--nv-6-5-66: #666666;
--nv-3-33: #333333;
--nv-2-22: #222222;
--nv-1-5-1a: #1A1A1A;
--nv-1-11: #111111;
--nv-0: #000000;
--nv-green: #76B900;
--nv-green-hover: #6AA700;
--nv-annotation: #FF00FF;
    
--boxshadow-card: 0px 2px 3px rgba(0, 0, 0, 0.1);
    
}

/*==========  text custom properties  ==========*/
:root {
    
    --base-size: 15px;
    
    --tp_h-huge: 36px;
    --tp_h-large: 28px;
    --tp_h-medium: 24px;
    --tp_h-small: 20px;
    --tp_h-smaller: 18px;
    --tp_h-smallest: 16px;
    
    --tp_p-l: 18px;
    --tp_p-m: 15px;
    --tp_p-s: 11px;
    
    --tp_cta-large: 14px;
    --tp_cta-medium: 12px;
    
}

@media screen and (min-width: 640px) {
    :root {

    
}
}

@media screen and (min-width: 1024px) {
    :root {
        
    --tp_h-huge: 48px;
    --tp_h-large: 36px;
    --tp_h-medium: 28px;
    --tp_h-small: 24px;
    --tp_h-smaller: 20px;
    --tp_h-smallest: 18px;
        
    --tp_p-l: 20px;
        
    --tp_cta-large: 16px;
    --tp_cta-medium: 14px;
}
}

@media screen and (min-width: 1350px) {
    :root {
   
    --tp_h-huge: 60px;
    --tp_h-large: 48px;
    --tp_h-medium: 36px;
    --tp_h-small: 28px;
    --tp_h-smaller: 24px;
    --tp_h-smallest: 20px;
        
    --tp_p-l: 22px;
        
    --tp_cta-large: 18px;
    --tp_cta-medium: 16px;
}
}

@media print {
    :root {

    }
}

/*==========  generic block type settings  ==========*/
html {
/*    font-family: 'dinp', helvetica, arial, sans-serif;*/
    font-family: 'nvsans', georgia, serif;
    font-variant-numeric: proportional-nums;
    font-size: var(--base-size);
    line-height: 1.5;
    color: var(--nv-1-5-1a);
}
body {
    background-color: var(--sw-14-5);
}

h1, .tp_h1 {
    font-size: var(--tp_h-large);
    font-weight: 700;   
    line-height: 1.25;
    margin: var(--sp_em-xxl) 0;
}

h2, .tp_h2 {
    font-size: var(--tp_h-medium);
    font-weight: 700; 
    line-height: 1.25;
    margin: var(--sp_em-m) 0;
}

h3, .tp_h3 {
    font-size: var(--tp_h-smaller);
    font-weight: 700;
    line-height: 1.25;
    margin: var(--sp_em-m) 0;
}

h4, .tp_h4 {
    font-size: var(--tp_h-smallest);
    font-weight: 700; 
    line-height: 1.25;
    margin: var(--sp_em-s) 0;
}
:is(h1, h2, h3, h4):first-child {
    margin-top: 0;
}
p {
    margin: 0 0 var(--sp_em-m);
}

footer > p {
/*    keep footer container margin 1em = 16px */
    font-size: var(--fine-print);
}

.tp_h-huge,
.tp_h-large,
.tp_h-medium,
.tp_h-small,
.tp_h-smaller,
.tp_h-smallest {
    font-weight: 700;
    line-height: 1.25;
}

.tp_h-huge {font-size: var(--tp_h-huge);}
.tp_h-large {font-size: var(--tp_h-large);}
.tp_h-medium {font-size: var(--tp_h-medium);}
.tp_h-small {font-size: var(--tp_h-small);}
.tp_h-smaller {font-size: var(--tp_h-smaller);}
.tp_h-smallest {font-size: var(--tp_h-smallest);}

.tp_p_l, .tp_p-l {
    font-size: var(--tp_p-l);
    line-height: 1.75;
}
.tp_p_m, .tp_p-m {
    font-size: var(--tp_p-m);
    line-height: 1.67;
}
.tp_p_s, .tp_p-s {
    font-size: var(--tp_p-s);
    line-height: 1.4;
}
.tp_bold {
    font-weight: bold;
}
/*==========  generic inline type settings  ==========*/
a {
    text-decoration: none;
    color: var(--nv-6-5-66);
    transition: var(--02transition);
}
a:link {
/*    color: var(--sw-8)*/
}
a:visited {
/*    color: var(--sw-12);*/
}
a:hover, a:focus {
    color: var(--nv-0);
/*    text-decoration: underline;*/
}
a:active {
    color: var(--nv-0);
}

.center {
    text-align: center;
}

/*=========== effects ==========*/
.dropshadow {
    box-shadow: var(--boxshadow-card);
}