:root {
    
/*    ============= spacing =============*/
    --sp_em-xs: 0.3em;
    --sp_em-s: 0.6em;
    --sp_em-m: 0.9em;
    --sp_em-l: 1.2em;
    --sp_em-xl: 1.5em;
    --sp_em-xxl: 1.8em;
    --sp_em-xxxl: 2.1em;
    --sp_em-xxxxl: 2.4em;
    
    --sp_rem-xs: 0.25rem;
    --sp_rem-s: 0.5rem;
    --sp_rem-m: 0.75rem;
    --sp_rem-l: 1rem;
    --sp_rem-xl: 1.25rem;
    --sp_rem-xxl: 1.5rem;
    
    --sp_px-xs: 4px;
    --sp_px-s: 8px;
    --sp_px-m: 12px;
    --sp_px-l: 16px;
    --sp_px-xl: 20px;
    --sp_px-xxl: 24px;
    
    --sp_grid-gap: 30px;
    --sp_grid-gap-2col: 16px;
    --sp_grid-gap-3col: 16px;
    
    --sp_card-padding: 16px;

    --space-xs: 4px;
    --space-s: 8px;
    --space-m: 12px;
    --space-l: 16px;
    --space-xl: 20px;
    --space-xxl: 24px;
    
    --margin-m: 2rem;
    
    --padding-tb: 32px;
    --padding-lr: 10px;
    --padding-section: var(--padding-tb) var(--padding-lr);
    
    /*    ============= spacing =============*/
    
    --sz_icon-s: 16px;
    --sz_icon-m: 24px;
    --sz_icon-l: 32px;
    
    /*    ============= others =============*/
    
    --02transition: all 0.2s ease-in-out;


}

@media screen and (min-width: 640px) {
    :root {
        
    --sp_rem-xs: 0.5rem;
    --sp_rem-s: 1rem;
    --sp_rem-m: 1.5rem;
    --sp_rem-l: 2rem;
    --sp_rem-xl: 2.5rem;
    --sp_rem-xxl: 3rem;
    
    --sp_px-xs: 5px;
    --sp_px-s: 9px;
    --sp_px-m: 13px;
    --sp_px-l: 17px;
    --sp_px-xl: 22px;
    --sp_px-xxl: 27px;
        
    --sp_grid-gap-2col: 24px;
    --sp_grid-gap-3col: 16px;   
    
    --sp_card-padding: 20px;
        
        
    --space-xs: 5px;
    --space-s: 9px;
    --space-m: 13px;
    --space-l: 17px;
    --space-xl: 22px;
    --space-xxl: 27px;
    
    --padding-tb: 48px;
    --padding-lr: 32px;
        
    --wrapper: 630px;

}
}

@media screen and (min-width: 1024px) {
    :root {
            
    --sp_rem-xs: 0.75rem;
    --sp_rem-s: 1.5rem;
    --sp_rem-m: 2.25rem;
    --sp_rem-l: 3rem;
    --sp_rem-xl: 3.75rem;
    --sp_rem-xxl: 4.5rem;
    
    --sp_px-xs: 6px;
    --sp_px-s: 10px;
    --sp_px-m: 14px;
    --sp_px-l: 18px;
    --sp_px-xl: 24px;
    --sp_px-xxl: 30px;
        
    --sp_grid-gap-2col: 32px;
    --sp_grid-gap-3col: 24px;
        
    --sp_card-padding: 24px;
        
    --space-xs: 6px;
    --space-s: 10px;
    --space-m: 14px;
    --space-l: 18px;
    --space-xl: 24px;
    --space-xxl: 30px;
    
    --margin-m: 3rem;    
        
    --padding-tb: 64px;
    --padding-lr: 64px;
        
    --wrapper: 954px;

}
}

@media screen and (min-width: 1350px) {
    :root {
            
    --sp_rem-xs: 1rem;
    --sp_rem-s: 2rem;
    --sp_rem-m: 3rem;
    --sp_rem-l: 4rem;
    --sp_rem-xl: 5rem;
    --sp_rem-xxl: 6rem;
    
    --sp_px-xs: 7px;
    --sp_px-s: 11px;
    --sp_px-m: 15px;
    --sp_px-l: 19px;
    --sp_px-xl: 26px;
    --sp_px-xxl: 33px;
        
    --sp_grid-gap-2col: 48px;
    --sp_grid-gap-3col: 32px; 
    
    --sp_card-padding: 32px;
        
    --space-xs: 7px;
    --space-s: 11px;
    --space-m: 15px;
    --space-l: 19px;
    --space-xl: 26px;
    --space-xxl: 33px;
        
    --margin-m: 4rem;
        
    --padding-tb: 96px;
    --padding-lr: 96px;
        
    --wrapper: 1290px;

}
}


html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/*==========  generic settings  ==========*/
html {
    padding: 0;
    scroll-behavior: smooth;
}
ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}
figure {
    padding: 0;
    margin: 0;
}
img {
    max-width: 100%;
    display: block;
}
:last-child {
    margin-bottom: 0;
}

/* ============== wrapper & padding================*/

.padding {
    padding: var(--padding-section);
}
.paddingsmall {
    padding: var(--space-s) var(--padding-lr);
}
.wrapper {
    max-width: var(--wrapper);
    margin-left: auto;
    margin-right: auto;
}

/*    ============= sizing =============*/
.sz_icon-s { width: var(--sz_icon-s); height: var(--sz_icon-s);}
.sz_icon-m { width: var(--sz_icon-m); height: var(--sz_icon-m);}
.sz_icon-l { width: var(--sz_icon-l); height: var(--sz_icon-l);}