:root {

    --nv-cta-font-size: 14px;
    --nv-cta-small-font-size: 12px;
    
    --sz_icon-s: 16px;
    --sz_icon-m: 24px;
    --sz_icon-l: 32px;

    --filter-search-width: 100%;
    --filter-search-width-2: clamp(260px, 60vw, 400px);


}

@media screen and (min-width: 640px) {
    :root {

        --nv-cta-font-size: 15px;
        --nv-cta-small-font-size: 13px;

        --filter-search-width: clamp(300px, 50vw, 400px);


    }
}

@media screen and (min-width: 1024px) {
    :root {
        --nv-cta-font-size: 16px;
        --nv-cta-small-font-size: 14px;

    }
}

@media screen and (min-width: 1350px) {
    :root {
        --nv-cta-font-size: 18px;
        --nv-cta-small-font-size: 15px;
    }
}

/*=================== CTA ===================*/

/*=================== search ===================*/
.cp_search_text {
    font-size: 14px;
}
.cp_search {
    position: relative;
}
.cp_searchinput {
    text-overflow: ellipsis;
    width: var(--filter-search-width);
    padding: 10px 40px 10px 10px;
    padding: var(--sp_em-s) calc(var(--sp_em-s) * 2 + 24px) var(--sp_em-s) var(--sp_em-s);
    background: url(cp_assets/ic_search.svg) no-repeat right 10px center / var(--sz_icon-m), var(--nv-15-5-f7);
    border: 1px solid var(--nv-12-5-cc);
    font-size: 14px;
    color: var(--nv-1-5-1a);
}
.option2 .cp_searchinput {
    width: var(--filter-search-width-2);
}
.cp_searchinput::placeholder {
    color: var(--nv-6-5-66);
}


.cp_searchdrop {
    position: absolute;
    width: fit-content;
    max-width: 100%;
    background-color: var(--nv-16);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
    top: calc(100% + 4px);
    left: 0;
    transform: translateY(-6px);
    opacity: 0;
    transition: var(--02transition);
    font-size: 14px;
    z-index: -5;
/*    hidden without display: none, or z-index: -1 interferes with content below*/
}
.cp_searchinput:focus-within ~ .cp_searchdrop {
    opacity: unset;
    transform: translate(0px);
    z-index: 10;
}
.cp_searchdrop li {
    padding: var(--sp_em-m);
/*    white-space: nowrap;*/
    line-height: 1.2;
}
.cp_searchdrop li:nth-child(n + 2) {
    border-top: 1px solid var(--nv-14-dd);
}
.cp_searchdrop li:hover {
    background-color: var(--nv-15-5-f7);
}
.cp_searchdrop span {
    font-weight: 700;
}

/* ========================= chip ========================*/

.cp_filter_chip {
    font-size: 14px;
    background-color: var(--nv-15-5-f7);
    padding: 8px 36px 7px 16px;
    padding: var(--sp_em-xs) calc(var(--sp_em-xs) + var(--sz_icon-s) + var(--sp_em-m)) var(--sp_em-xs) var(--sp_em-m);
    border: 1px solid var(--nv-12-5-cc);
    border-radius: 999px;
    position: relative;
    flex: 0 0 fit-content;
}
.cp_filter_chip::after {
    content: '';
    display: block;
    width: var(--sz_icon-s);
    height: var(--sz_icon-s);
    background: url(cp_assets/ic_close.svg);
    position: absolute;
    right: calc(var(--sp_em-m) - 2px);
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.cp_filter_chip span {
    font-weight: 700;
    margin-right: 2px;
}
.cp_filter_chip_clear {
    font-size: 14px;
    text-decoration: underline;
    margin-left: var(--sp_px-m);
    flex: 0 0 fit-content;
    cursor: pointer;
}
/*================= filter dropdown ====================*/
.cp_dropdown {
    position: relative;
}
.cp_dropdown > input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.cp_dropdown > label {
    font-size: 14px;
    display: block;
    cursor: pointer;
/*    padding: 8px 38px 8px 12px;*/
    padding: var(--sp_em-xs) calc(var(--sp_em-xs) + var(--sz_icon-s) + var(--sp_em-s)) var(--sp_em-xs) var(--sp_em-s);
    width: max-content;
    background-color: var(--nv-15-5-f7);
    border: 1px solid var(--nv-12-5-cc);
    position: relative;
}
.cp_dropdown > label::after {
    content: '';
    display: block;
    width: var(--sz_icon-s);
    height: var(--sz_icon-s);
    background: url(cp_assets/ic_chevron_dropdown_small.svg) no-repeat center / auto;
    position: absolute;
    right: calc(var(--sp_em-s) - 2px);
    top: 50%;
    transform: translateY(-50%);
    transition: var(--02transition);
}
.cp_dropdown > input:checked ~ label {
    border: 1px solid var(--nv-green);
}
.cp_dropdown > input:checked ~ label::after {
    background-image: url(cp_assets/ic_chevron_dropdown_small_green.svg);
    transform: translateY(-50%) rotate(180deg);
/*    transform-origin: center center;*/
}

.cp_dropdown_pop {
    font-size: 14px;
    position: absolute;
    width: fit-content;
    min-width: 100%;
    padding: var(--sp_em-s) var(--sp_em-l);
    background-color: var(--nv-15-5-f7);
    border: 1px solid var(--nv-12-5-cc);
    top: calc(100% + 4px);
    left: 0;
    transform: translateY(-6px);
    opacity: 0;
    transition: var(--02transition);
    font-weight: 400;
    z-index: 2;
}
input:checked ~ .cp_dropdown_pop {
    opacity: 100;
    transform: translate(0px);
}


.cp_dropdown_pop label {
    display: block;
    padding: var(--sp_em-s) 0;
    position: relative;
    padding-left: calc(var(--sz_icon-s) + var(--sp_em-s));
    line-height: 1.2;
    white-space: nowrap;
}

.cp_dropdown_pop label:hover {
    background-color: var(--nv-15-5-f7);
}

.cp_dropdown_pop input[type="checkbox"] {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    appearance: none;
    width: var(--sz_icon-s);
    height: var(--sz_icon-s);
    background: url(cp_assets/ic_checkbox_inactive.svg) no-repeat center / auto;
}

.cp_dropdown_pop input[type="checkbox"]:checked {
    background-image: url(cp_assets/ic_checkbox_active.svg);
}

/* ========================= pagination dropdown ========================*/
.cp_select {
    appearance: none;
    border: 1px solid var(--nv-12-5-cc);
    background: url(cp_assets/ic_chevron_dropdown_small.svg) no-repeat right var(--sp_em-xs) center / auto, var(--nv-15-5-f7);
    padding: 6px calc(4px + 14px + 8px) 6px 8px;
    padding: var(--sp_em-xs) calc(var(--sp_em-s) + var(--sz_icon-s)) var(--sp_em-xs) var(--sp_em-s);
    font-size: 14px;
    font-weight: 900;
    line-height: 1;
    color: var(--nv-1-5-66);
}
.cp_select_text {
    font-size: 14px;
}
/* ========================= disclaimer ========================*/
.cp_disclaimer {
    font-family: 'nomo', monospace;
    color: var(--nv-6-5-66);
    background-color: var(--nv-14-dd);
}
