:root {


    
    
   
    

}

@media screen and (min-width: 640px) {
    :root {
    

        

}
}

@media screen and (min-width: 1024px) {
    :root {
    
    

        

}
}

@media screen and (min-width: 1350px) {
    :root {
        

}
}

/*=========== base ===========*/
main {
    padding-top: 128px;
    padding-bottom: 128px;
}
.wrapper > :nth-child(n + 2) {
    margin-top: 32px;
}


/*=========== table general ===========*/

.cp_table_qsc {
    background-color: var(--nv-15-5-f7);
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}
col:nth-child(even), thead th:nth-child(even) {
    background-color: var(--nv-15-ee);
}

/* =======table header ===========*/
thead {
    position: sticky;
    top: 0;
    z-index: 1;
}
thead th {
    padding: var(--cell-tb-xl) var(--cell-tb-m);
    padding-right: calc(8px + 14px + var(--cell-tb-m));
    text-align: left;
    font-weight: 700;
    position: relative;
    background: linear-gradient(to top, var(--nv-6-5-66) 0px 3px, transparent 3px), var(--nv-15-5-f7);
}

th a {
    color: var(--nv-1-5-1a);
    display: block;
}
th a::after, th .menuselect::after {
    content: '';
    display: block;
    width: 14px;
    height: 8px;
    background: url(../assets/qsc/dropdown_arrow.svg) no-repeat center / contain;
    position: absolute;
    right: var(--cell-tb-m);
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.2s ease-in-out;
}
th a:active::after, input:checked ~ .menuselect::after {
    background-image: url(../assets/qsc/dropdown_arrow_green.svg);
    transform: translateY(-50%) rotate(180deg);
    transform-origin: center center;
}

.menuselect {
    display: block;
    cursor: pointer;
}
th > input {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.dropmenu {
    position: absolute;
    width: fit-content;
    background-color: var(--nv-16);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
    top: calc(100% + 3px);
    left: 0;
    transform: translateY(-6px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
    font-weight: 400;
}

input:checked ~ .dropmenu {
    opacity: 100;
    transform: translate(0px);
}

/*
.dropmenu:target {
    opacity: unset;
    transform: translate(0px);
}
*/

.dropmenu label {
    display: block;
    padding: var(--cell-tb-m);
    position: relative;
    padding-left: calc(var(--cell-tb-m) + 14px + 8px);
    line-height: 1.3;
    white-space: nowrap;
}
.dropmenu label:nth-child(n + 2) {
    border-top: 1px solid var(--nv-12-5-cc);
}
.dropmenu label:hover {
    background-color: var(--nv-15-5-f7);
}
.dropmenu input[type="checkbox"] {
    position: absolute;
    left: var(--cell-tb-m);
    transform: translateY(2px);
    appearance: none;
    width: 14px;
    height: 14px;
    background: url(../assets/qsc/ic_checkbox_inactive.svg) no-repeat center / contain;
}
.dropmenu input[type="checkbox"]:checked {
    background-image: url(../assets/qsc/ic_checkbox_active.svg);
}

/* ======= table body ===========*/
tbody tr:nth-child(n + 2) {
    border-top: 1px solid var(--nv-12-5-cc);
}
td {
    padding: var(--cell-tb-m);
}

/*============== sticky ===================*/
@media screen and (max-width: 1023px) {
    .tablescroll {
    overflow: auto;
    width: 100%;
    max-height: 90vh;
}
    .tablescroll::-webkit-scrollbar {
        display: none;
    }
    .cp_table_qsc {
        white-space: nowrap;
    }
    thead th:first-child {
        position: sticky;
        left: 0;
        background-color: var(--nv-15-5-f7);
        z-index: 2;
    }
    tbody td:first-child{
        position: sticky;
        left: 0px;
        background-color: var(--nv-15-5-f7);
          background-clip: padding-box;
/*        firefox fix */
    }

}



