:root {

    --cp_ul-multi-img: 80px;
    --flex-basis: max(200px, 45%);
    
    --cp_dl-grid: block;
    --cp_dl-dtmargin: var(--sp_em-l);
    
}

@media screen and (min-width: 360px) {
    :root {
        --cp_ol-date-flex: flex;
        --cp_ol-date-align: right;
        
        --cp_dl-grid: grid;
        --cp_dl-dtmargin: unset;
    }

}


@media screen and (min-width: 640px) {
    :root {

        --md_listgrid: 1fr 1fr;

    }
}

@media screen and (min-width: 1024px) {
    :root {
        --md_listgrid: 1fr 1fr 1fr;
        --flex-basis: auto;

    }
}

@media screen and (min-width: 1350px) {
    :root {

        /*       --md_listgrid: 1fr 1fr 1fr 1fr;*/

    }
}

@media screen and (min-width: 2000px) {
    :root {}
}

@media (prefers-color-scheme: dark) {

    :root {}
}

/*================= general ========================*/
* + h3 {
    margin-top: var(--sp_em-m);
}

ol,
ul {
    margin: var(--sp_em-l) 0;
    padding: initial;
    list-style: revert;
    padding-left: var(--sp_em-xxxl);
    line-height: 1.4;
}
dl {
    margin: var(--sp_em-l) 0; 
    line-height: 1.4;
}

:is(ol, ul) :is(ol, ul) {
    margin-top: var(--sp_em-xs);
}

li {
    list-style: revert;
}

li + li {
    margin-top: var(--sp_em-s);
}

:is(ol, ul) :is(ol, ul) li:not(:first-child) {
    margin-top: var(--sp_em-xs);
}

/*================= components ========================*/

.cp_ol > li {
    padding-left: calc(var(--sp_em-xs) / 2);
}
.cp_ol > li::marker {
    font-weight: bold;
}





.cp_ol-date {
    padding: 0;
    margin: var(--sp_em-xl) 0;
}
.cp_ol-date li {
    display: var(--cp_ol-date-flex, block);
    gap: var(--sp_em-xl);
}
.cp_ol-date li + li {
    margin-top: var(--sp_em-l);
}
.cp_ol-date .date {
    /*    font-weight: bold;*/
    flex: 0 0 clamp(5em, 15%, 9em);
    text-align: var(--cp_ol-date-align);
}
.cp_ol-date div:nth-child(2) {
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    gap: var(--sp_em-xs) var(--sp_em-l);
    justify-content: space-between;
}
.cp_ol-date .event {
    font-weight: bold;
    flex: 0 1 auto;
}
.cp_ol-date .venue {
    font-style: italic;
    flex: 0 0 auto;
}
.cp_ol-date .description {
    flex: 0 0 100%;
}




/*
.cp_ul-chev {
    list-style-image: url(../../css/cp_assets/ic_chevron_dropdown_small_green.svg);
}
.cp_ul-chev > li::marker {
    content: ' ';
    display: block;
    width: 20px;
    height: 20px;
    background-color: red;
}
*/
.cp_ul-chev {
    list-style: none;
}

.cp_ul-chev > li {
    position: relative;
}

.cp_ul-chev > li::before {
    content: '';
    display: block;
    width: calc(1em + 1px);
    height: calc(1em + 1px);
    background: url(../../css/cp_assets/ic_chevron_dropdown_small_black.svg) no-repeat center / contain;
    position: absolute;
    top: calc(1em * 1.4 / 2 - (1em + 1px) / 2);
    /*    align to the middle like a bullet */
    left: calc((1em + 1px) * -1 - var(--sp_em-xs));
    transform: rotate(-90deg);
}





dt {
    font-weight: bold;
}
dd {
    margin: 0;
}

:is(dt, .alphabet):not(:first-child) {
    margin-top: var(--cp_dl-dtmargin);
}
.cp_dl {
    display: var(--cp_dl-grid);
    grid-template-columns: fit-content(20%) 1fr;
    grid-gap: var(--sp_em-l) var(--sp_em-xl);
    margin: var(--sp_em-xl) 0;
}
.cp_dl .alphabet {
/*    font-weight: bold;*/
    font-style: italic;
    grid-column: 1 / -1;
    padding-bottom: var(--sp_em-xs);
    border-bottom: 1px solid var(--nv-9-5-99);
}






.cp_ul-customimage {
    list-style: none;
    padding-left: var(--sp_em-xxxxl);
}

.cp_ul-customimage li {
    position: relative;
}

.cp_ul-customimage .ic_svg {
    /*    width: var(--sz_icon-m);*/
    /*    height: var(--sz_icon-m);*/
    width: calc((1em + 1px) * 1.5);
    height: calc((1em + 1px) * 1.5);
    position: absolute;
    top: calc(1em * 1.4 / 2 - (1em + 1px) * 1.5 / 2);
    left: calc(((1em + 1px) * 1.5 + var(--sp_em-s)) * -1);
}

.cp_ul-customimage li + li {
    margin-top: var(--sp_em-l);
}







@counter-style trophy {
    system: cyclic;
    symbols: 🏆 🥇 🥈 🥉 🍇 🍉 🍓 🥕 🍰 🍯 "\1F347";
    suffix: " ";
}

.cp_ul-counter {
    list-style-type: trophy;
    /*    list-style: circle;*/
}

.cp_ul-counter li {
    padding-left: var(--sp_em-xs);
}







.cp_ul-bullet {
    list-style: disc;
}


.p-large {
    font-size: var(--tp_p-l);
}



.cp_ol.md_listcolumn {
    font-size: 12px;
    padding: 0;
    columns: 50ch 4;
    column-gap: var(--sp_rem-m);
    column-rule: 1px solid var(--nv-12-5-cc);
}
.cp_ol.md_listcolumn li {
    margin-left: var(--sp_em-l);
/*    padding-left: var(--sp_em-l);*/
    break-inside: avoid;
}




/*
.cp_ul-customimage.option2 {
    padding: 0;
    columns: 200px 4;
    column-gap: var(--sp_em-l);
}
*/
.cp_ul-customimage.option2 {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: var(--sp_em-l)var(--sp_em-xxxl);

}

.cp_ul-customimage.option2 li {
    white-space: nowrap;
    /*    margin: 0 0 0 var(--sp_em-xxxxl);*/
    flex: 0 0 var(--flex-basis);
    padding-left: var(--sp_em-xxxxl);
    margin: 0;
}

.ic_font {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: calc((1em + 1px) * 1.5);
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;

    display: block;
    position: absolute;
    left: calc(var(--sp_em-xxxxl) - (1em + 1px) * 1.5 - var(--sp_em-s));
    top: calc((1em / 1.5 - 1px) * 1.4 / 2 - 1em / 2);
    /*    for placing in margin not padding */
    /*    left: calc(((1em/1.5 - 1px)*0.6 + 1em)*-1);*/
}








.cp_ol.md_listgrid {
    display: grid;
    grid-template-columns: var(--md_listgrid);
    grid-gap: var(--sp_rem-s);
    padding: 0;
}

.cp_ol.md_listgrid li {
    margin: 0 0 0 var(--sp_em-xxl);
}

.cp_ol.md_listgrid > li::marker {
    font-style: italic;
    color: var(--nv-9-5-99);
}

.cp_ol.md_listgrid span {
    font-weight: 700;
    display: block;
    margin-bottom: var(--sp_em-xs);
}




.cp_ul-multi {
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: var(--sp_px-m);
}

.cp_ul-multi li {
    font-size: 13px;
    font-style: italic;
    margin: 0;
    padding: var(--sp_em-s) var(--sp_em-s) var(--sp_em-s) calc(var(--cp_ul-multi-img) + var(--sp_em-s));
    background-color: var(--nv-16);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
    position: relative;
}

.cp_ul-multi li img {
    position: absolute;
    left: 0;
    top: 0;
    width: var(--cp_ul-multi-img);
    height: 100%;
    object-fit: cover;
}

.cp_ul-multi li span {
    display: block;
    font-weight: bold;
    font-style: normal;
}
