:root {
    --li-padding: 16px;
    --viewport-icon-bg: #ffffff;
    --nav-display-desk: none;
    --nav-display-ellipsis: none;
    --nav-flex-justify: space-between;
    --nav-display-truncate: none;
/*    truncate items have higher specificity than display-desk */
}

@media screen and (min-width: 640px) {
    :root {
        --li-padding: 24px;

    }
}

@media screen and (min-width: 1024px) {
    :root {
    --nav-margin-left: 96px;
    --nav-flex: flex;
    --nav-display-desk: block;
    --nav-display-mobile: none;
    --nav-display-ellipsis: unset;
    --nav-flex-justify: unset;
    }
}

@media screen and (min-width: 1350px) {
    :root {
        --li-padding: 32px;
        --nav-display-ellipsis: none;
        --nav-display-truncate: unset;
    }
}

@media screen and (min-width: 2000px) {
    :root {
        /*        --li-padding: 48px;*/
    }
}

body {
/*    background-color: var(--sw-3);*/
}

/*========================== global nav  ===========================*/
.cp_nav_global {
    background-color: var(--nv-16);
    padding-left: var(--padding-lr);
    padding-right: var(--padding-lr);
}
.cp_nav_global > ul {
    display: flex;
    height: 44px;
    align-items: center;
    justify-content: var(--nav-flex-justify);
    gap: 24px;
}
.cp_nav_global .ic_menu {
    display: var(--nav-display-mobile);
    line-height: 1;
/*    icon alignement, not needed after span's display block */
}
.cp_nav_global .material-icons {
    display: block;
/*    icon alignment */
    cursor: pointer;
}
.cp_nav_global .logo {
    flex-shrink: 0;
}
.cp_nav_global .logo img {
    height: 20px;
    margin-right: 32px;
}
.cp_nav_global li:not(.ic_menu, .logo, .ic_search) {
    display: var(--nav-display-desk);
}
.cp_nav_global li:nth-of-type(6) {
    margin-right: auto;
}
.cp_nav_global .ic_search {
    margin-left: var(--nav-margin-left);
    line-height: 1;
/*    icon alignment */
}


/*========================== site nav  ===========================*/

.cp_nav_site {
    color: var(--nv-16);
    background-color: var(--nv-0);
    padding: var(--space-m) var(--padding-lr);
}
.cp_nav_site > ul {
    display: flex;
    gap: 24px;
    align-items: center;
}
.sitename {
    font-weight: 700;
    font-size: var(--h4);
    flex: 0 1 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: auto;
}
.sitename ~ li {
    flex-shrink: 0;
    color: var(--nv-9-5-99);
}
.cp_nav_site > ul > li:nth-of-type(n+5):nth-last-of-type(n+3) {
    display: var(--nav-display-truncate);
/*    higher specificity than than other list items css*/
}
/*
.cp_nav_site li:nth-of-type(n+3):nth-of-type(-n+5) {
    color: red;
}
*/
.cp_nav_site  > ul > li:not(.sitename, .ic_ellipsis, .ic_menu) {
    display: var(--nav-display-desk);
    padding-right: 24px;
    position: relative;
    cursor: pointer;
}
.cp_nav_site  > ul > li:not(.sitename, .ic_ellipsis, .ic_menu)::after {
    content: 'arrow_drop_down';
    font-family: 'Material Icons';
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}


.cp_nav_site .ic_ellipsis {
    display: var(--nav-display-ellipsis);
    position: relative;
}
.cp_nav_site .material-icons {
    cursor: pointer;
    display: block;
/*    vertical alignment */
}
.cp_nav_site .ic_ellipsis .hovermenu {
/*   display: none;*/
    position: absolute;
    z-index: 1;
    top: 12px;
    right: -48px;
    width: fit-content;
    white-space: nowrap;
    padding: 24px;
    background-color: var(--nv-15-5-f7);
    color: var(--nv-1-5-1a);
    font-weight: 400;
    display: none;
/*    fix hover dissappear due to gap */
    border-top: transparent 28px solid;
    background-clip: padding-box;
}
.cp_nav_site .ic_ellipsis::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-color: var(--nv-15-5-f7);
    position: absolute;
    transform: translateY(32px) rotate(45deg);
    z-index: 1;
    display: none;
}
.ic_ellipsis:hover .hovermenu, .ic_ellipsis:hover::before {
    display: revert;
}
.ic_ellipsis:hover span, .ic_ellipsis li:not(.category):hover {
    color: var(--nv-green);
}


.hovermenu li {
    cursor: pointer;
}
.hovermenu li:not(:last-child) {
    margin-bottom: var(--space-xs);
}
.hovermenu .category {
    font-weight: 700;
}
.hovermenu li + .category {
    margin-top: var(--space-xl);
}


.cp_nav_site .ic_menu {
    display: var(--nav-display-mobile);
}



/*========================== inpage nav  ===========================*/



.cp_nav_inpage {
    background-color: rgba(16, 16, 16, 0.7);
    backdrop-filter: blur(12px);
    color: var(--nv-16);
    padding-left: var(--padding-lr);
    padding-right: var(--padding-lr);
    padding: var(--space-s) var(--padding-lr);
}
.cp_nav_inpage .main {
    display: flex;
    align-items: center;
    gap: 32px;
    white-space: nowrap;
}
.cp_nav_inpage .pagename {
    font-weight: 700;
    margin: 0;
    margin-right: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}
.cp_nav_inpage .main li:not(.cp_cta_small) {
    display: var(--nav-display-desk);
}
.cp_nav_inpage .mob {
/*    display: none;*/
    font-size: var(--h3);
    max-height: 0px;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
}
.cp_nav_inpage .mob li a {
    color: var(--nv-16);
}
.cp_nav_inpage .mob li:hover a {
    color: var(--nv-green);
}
.cp_nav_inpage .mob li + li {
    margin-top: var(--space-l);
}


.cp_nav_inpage #inpage_checkbox {
    display: none;
}
@media screen and (max-width: 1023px) {
    .cp_nav_inpage .main {
        align-items: flex-start;
        gap: 16px;
    }
    .cp_nav_inpage .pagename {
        cursor: pointer;
        padding-right: 32px;
        margin-top: calc(var(--space-s) - 4px);
    }
    .cp_nav_inpage .pagename::after {
        content: '';
        display: block;
        width: 13px;
        height: 8px;
        background: url(../assets/dropdown_arrow.svg) center / cover;
/*        background: red;*/
        position: absolute;
        top: calc(var(--space-s) + 2px);
/*        top: 50%;*/
        right: 4px;
        transform: translateY(-50%);
        transition: all 0.2s ease-in-out;
    }
    #inpage_checkbox:checked + .main .pagename {
    white-space: normal;
}
    #inpage_checkbox:checked + .main .pagename::after {
        background-image: url(../assets/dropdown_arrow_green.svg);
        transform: translateY(-50%) rotate(180deg);
/*        transform-origin: center center;*/
    }
    
    
#inpage_checkbox:checked ~ .mob {
    display: block;
    margin-top: var(--space-xl);
    margin-bottom: var(--space-xxl);
    max-height: 600px;
}
}

/*========================== page   ===========================*/

.fullnav {
    position: fixed;
    top: 0;
    width: 100%;
}
main ul {
    margin-top: var(--padding-tb);
    display: grid;
    grid-gap: var(--space-l) 0px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}
main li:nth-child(odd) {
    padding: var(--space-xl);
    background-color: var(--nv-16);
}
main h2 {
    margin-bottom: 1rem;
}
main img {
    height: 100%;
    object-fit: cover;
}