    :root {
        
        --padding-text: 16px;
        --padding-largetile: 16px;

    }



@media screen and (min-width: 640px) {
    :root {
        --grid-col: repeat(2, 1fr);
        --grid-auto-row: 1fr;
        --16-9: 9 / 16;
        
        --smalltile-span-column: span 2;
        
        --padding-text: 20px;
        --padding-largetile: 32px;

    }
    
}
   

@media screen and (min-width: 1024px) {
    :root {
        --grid-col: repeat(3, 1fr);
        --16-9: 16 / 9;
        
        --smalltile-span-column: revert;
        --smalltile-span-row: span 2;
        
        --padding-text: 24px;

    }
}

@media screen and (min-width: 1350px) {
    :root {
        
        --padding-text: 32px;
    

    }
     
}


.padding > ul.wrapper {
    display: grid;
    grid-template-columns: var(--grid-col);
    grid-auto-rows: var(--grid-auto-row);
    grid-gap: 30px;
}
.aspect-ratio-16-9 {
    aspect-ratio: var(--16-9);
}

/*===================== small tile ========================*/
.cp_smalltile {
    display: flex;
    flex-direction: column;    
    background-color: var(--nv-15-5-f7);
    cursor: pointer;
}

.cp_smalltile > div {
    flex: 1 0 auto;
    padding: var(--padding-text);
}
.cp_smalltile > div :first-child {
    margin-bottom: var(--sp_px-s);
}

.cp_smalltile > figure {
    flex: 0 0 auto;
    aspect-ratio: 10 / 6;
    overflow: hidden;
    position: relative;
}
.cp_smalltile > figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: var(--02transition);
}
.cp_smalltile:hover > figure img {
    transform: scale(1.05);
}





.cp_copyright {
    font-size: 12px;
    font-weight: bold;
    color: var(--nv-16);
    background-color: rgba(0, 0, 0, 0.5);
    padding: var(--sp_em-xs) var(--sp_em-s);
    position: absolute;
    bottom: 0;
    right: 0;
}





@media screen and (max-width: 639px) and (any-hover: none) {
    .cp_smalltile > figure::before {
    content: 'open_in_full';
    font-family: 'material icons';
    font-size: 24px;
    line-height: 1;
    border-radius: 50%;
    padding: var(--sp_px-xs);
    color: var(--nv-0);
    background: var(--nv-16);
    cursor: pointer;
    position: absolute;
    z-index: 1;
    bottom: var(--padding-largetile);
    left: var(--padding-largetile);
}
}




.cp_smalltile:has(.isometric) {
    overflow: hidden;
}
.cp_smalltile > figure.isometric {
    overflow: revert;
}
.cp_smalltile > figure.isometric img {
    height: unset;
    object-position: top left;
    aspect-ratio: 1 / 1;
    position: absolute;
    margin-left: 20%;
}




.cp_smalltile.span {
    grid-column: var(--smalltile-span-column);
    grid-row: var(--smalltile-span-row);
}
@media screen and (min-width: 640px) {
    .cp_smalltile.span > figure {
        aspect-ratio: 10 / 3;
    }
    .cp_smalltile.span > figure.isometric img {
    height: 100%;
    object-position: top center;
    margin-left: 0;
}
}
@media screen and (min-width: 1024px) {
    .cp_smalltile.span > figure {
    aspect-ratio: unset;
    height: 80%;
    
}
.cp_smalltile.span > figure.isometric img {
    object-fit: cover;
    object-position: center left;
    aspect-ratio: 1 / 1;
    margin-left: unset;
}
}




/*===================== large tile ========================*/
.cp_largetile {
    grid-column: 1 / -1;
    background-color: var(--nv-16);
    position: relative;
}
.cp_largetile::before {
    content: 'close';
    display: block;
    width: fit-content;
    font-family: 'material icons';
    font-size: 32px;
    line-height: 1;
    border-radius: 50%;
    padding: var(--sp_px-xs);
    margin: var(--padding-largetile) var(--padding-largetile) 0 auto;
    color: var(--nv-16);
    background: rgba(0, 0, 0, 1);
    cursor: pointer;
    z-index: 1;
}
.cp_largetile > div {
    padding: var(--padding-largetile);
}
.cp_largetile > div > *:not(:last-child) {
    margin-bottom: calc(var(--padding-largetile)/2);
}
.cp_largetile > figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cp_largetile > figure.isometric img {
    object-fit: contain;
}

@media screen and (min-width: 640px) {
.cp_largetile {
        position: relative;
        grid-row: span 3;
    }
.cp_largetile::before {
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    }
.cp_largetile > div {
        max-height: 42%;
    overflow-y: auto;
    }
.cp_largetile > figure {
    position: absolute;
    width: 100%;
    height: 58%;
    bottom: 0;
    right: 0;
}
}

@media screen and (min-width: 1024px) {
    .cp_largetile {
        grid-row: span 2;
    }
    .cp_largetile > div {
        max-height: unset;
        width: calc((100% - 60px)/3 + 30px);;
    }
    .cp_largetile > figure {
        width: 66.77%;
        width: calc((100% - 60px)/3*2 + 30px);
        height: 100%;
    }
}


.cp_smalltile_fbg.span {
    grid-column: var(--smalltile-span-column);
    grid-row: var(--smalltile-span-row);
}


/*===================== full background small tile ========================*/
.cp_smalltile_fbg {   
/*    background-color: var(--nv-15-5-f7);*/
    cursor: pointer;
    position: relative;
}

.cp_smalltile_fbg > div {
    padding: var(--padding-text) var(--padding-text) 100px;
    color: var(--nv-16);
    position: relative;
    z-index: 1;
}
.cp_smalltile_fbg > div :first-child {
    margin-bottom: var(--sp_px-s);
}
.cp_smalltile_fbg > div::after {
    content: ' ';
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7) 100px);
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.cp_smalltile_fbg > figure {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.cp_smalltile_fbg > figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: var(--02transition);
}
.cp_smalltile_fbg:hover > figure img {
    transform: scale(1.05);
}
/*
.cp_smalltile_fbg > figure::after {
    content: ' ';
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) 33%);
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
}
*/



/*===================== full background large tile ========================*/

.cp_largetile_fbg {
    grid-column: 1 / -1;
    position: relative;
    aspect-ratio: 4 / 6;
}
.cp_largetile_fbg::before {
    content: 'close';
    display: block;
    width: fit-content;
    font-family: 'material icons';
    font-size: 32px;
    line-height: 1;
    border-radius: 50%;
    padding: var(--sp_px-xs);
    color: var(--nv-0);
    background: var(--nv-16);
    cursor: pointer;
    position: absolute;
    top: var(--padding-text);
    right: var(--padding-text);
    z-index: 2;
}
.cp_largetile_fbg > div {
    color: var(--nv-16);
    padding: calc(var(--padding-text)*2 + 40px) var(--padding-text) 100px;
    position: relative;
    z-index: 1;
}
.cp_largetile_fbg > div > *:not(:last-child) {
    margin-bottom: calc(var(--padding-largetile)/2);
}
.cp_largetile_fbg > div::after {
    content: ' ';
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7) 100px);
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}
.cp_largetile_fbg > figure {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
}
.cp_largetile_fbg > figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (min-width: 640px) {
.cp_largetile_fbg {
    aspect-ratio: unset;
    grid-row: span 3;
    }
.cp_largetile_fbg::before {
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    }
.cp_largetile_fbg > div {
    padding: var(--padding-text) var(--padding-text) 100px;
}

}



@media screen and (min-width: 1024px) {
    .cp_largetile_fbg {
        grid-row: span 2;
    }
    .cp_largetile_fbg > div {
        width: calc((100% - 60px)/3 + 30px);
        max-height: 100%;
        overflow-y: auto;
    }
    .cp_largetile_fbg > div::after {
        opacity: 0;
}
.cp_largetile_fbg > figure::after {
    content: ' ';
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7) 25%, rgba(0, 0, 0, 0) 50%);
    position: absolute;
    top: 0;
    right: 0;
}
}

/*===================== precise crop small tile ========================*/

.cp_smalltile_fbg > .precisecrop img {
    max-width: unset;
    width: 715px;
    height: auto;
    object-fit: unset;
    position: absolute;
    top: -7.8%;
    right: 0;
}
.cp_smalltile_fbg:hover > .precisecrop img {
    transform-origin: 71.3% 50%;
}

.cp_smalltile_fbg.span > .precisecrop img {
    max-width: unset;
    width: auto;
    height: 100%;
    object-fit: unset;
    position: absolute;
    top: 0;
    right: -40.2%;
}
.cp_smalltile_fbg.span:hover > .precisecrop img {
    transform-origin: 71.3% 50%;
}