    :root {

        
        --padding-text: 16px;
        --padding-largetile: 16px;
        
        
        --4-3: 4 / 3;
        --4-6: 4 / 6;
        
        --vertical-shadow-width: 100%;
        
        --precisecrop-tablet: none;
        --precisecrop-desklap: none;
        
        --precisecrop-width: 100%;
        --precisecrop-width-open: 100%;
        --precisecrop-origin: 50% 71.9%;
        --precisecrop-right: 0;
        --precisecrop-bottom: -16.74%;
        
        --example-height: 60%;
        --example-top: 40%;
        
        --precisecrop-span-width: 100%;
        --precisecrop-span-height: auto;
        --precisecrop-span-origin: 50% 71.9%;
        --precisecrop-span-right: 0;
        --precisecrop-span-bottom: -16.74%;
        
        --precisecrop-3-width: 100%;
        --precisecrop-3-width-open: 120%;
        --precisecrop-3-top: -52%;
        --precisecrop-3-top-open: 0;
        --precisecrop-3-right: 0;
        --precisecrop-3-right-open: -10%;
        --precisecrop-3-origin: 50% 61.2%;

    }



@media screen and (min-width: 640px) {
    :root {
        --grid-col: repeat(2, 1fr);
        --grid-auto-row: 1fr;
        --16-9: 9 / 16;
        --4-3: unset;
        --4-6: unset;
        
        --smalltile-span-column: span 2;
        
        --padding-text: 20px;
        --padding-largetile: 32px;
        
        --smalltile-width: 300px;
        --smalltile-height: 353px;
        
        --smalltile-span-width: calc(var(--smalltile-width)*2 + 30px);
        --smalltile-span-height: var(--smalltile-height);
        
        --precisecrop-phone: none;
        --precisecrop-tablet: block;
        
        --precisecrop-width: 353px;
        --precisecrop-width-open: 630px;
        --precisecrop-right: -8.88%;
        --precisecrop-bottom: 0;
        
        --precisecrop-span-bottom: -44%;
        
        --precisecrop-3-width: 300px;
        --precisecrop-3-width-open: 720px;
        --precisecrop-3-top: -80.45px;
        --precisecrop-3-top-open: 0;
        --precisecrop-3-right: 0;
        --precisecrop-3-right-open: -45px;
        --precisecrop-3-origin: 50% 55.09%;
        


    }
    
}
   

@media screen and (min-width: 1024px) {
    :root {
        --grid-col: repeat(3, 1fr);
        --16-9: 16 / 9;
        
        --smalltile-span-column: revert;
        --smalltile-span-row: span 2;
        
        --padding-text: 24px;
        
        --text-maxwidth: 298px;
        --text-maxwidth-open: 324px;
        
        --vertical-shadow-width: var(--wrapper);
        
        --smalltile-width: 298px;
        --smalltile-height: 254px;
        
        --smalltile-span-width: var(--smalltile-width);
        --smalltile-span-height: calc(var(--smalltile-height)*2 + 30px);
        
        --text-maxwidth: 250px;
        --text-maxwidth-open: 304px;
        
        --precisecrop-tablet: none;
        --precisecrop-desklap: block;
        
        --precisecrop-width: 519.5px;
        --precisecrop-width-open: 954px;
        --precisecrop-origin: 71.3% 50%;
        --precisecrop-right: 0;
        --precisecrop-bottom: -7.8%;
        
        --precisecrop-span-width: auto;
        --precisecrop-span-height: 100%;
        --precisecrop-span-origin: 71.3% 50%;
        --precisecrop-span-right: -40.2%;
        --precisecrop-span-bottom: 0;
            
        --example-height: 100%;
        --example-top: 0;
        
        --precisecrop-3-width: 453.31px;
        --precisecrop-3-width-open: 954px;
        --precisecrop-3-top: 0;
        --precisecrop-3-top-open: -130.83px;
        --precisecrop-3-right: 0;
        --precisecrop-3-right-open: 0;
        --precisecrop-3-origin: 67.13% 49.59%;

    }
}

@media screen and (min-width: 1350px) {
    :root {
        
        --padding-text: 32px;
        
        --text-maxwidth: 346px;
        --text-maxwidth-open: 408px;
/*        --text-maxwidth-open: 390px;*/
    
        --smalltile-width: 410px;
        --smalltile-height: 348px;
        
        --precisecrop-width: 715px;
        --precisecrop-width-open: 1290px;
        
        --precisecrop-3-width: 624px;
        --precisecrop-3-width-open: 1290px;
        --precisecrop-3-top: 0;
        --precisecrop-3-top-open: -177px;
        --precisecrop-3-right: 0;
        --precisecrop-3-right-open: 0;
        --precisecrop-3-origin: 67.13% 49.59%;

    }
     
}



.switches {
    margin-bottom: var(--sp_px-xxxl);
}
.switches label {
    margin-right: var(--sp_px-l);
}
.switches input {
    margin-right: var(--sp_px-xs);
}

.aspect-ratio-16-9 {
    aspect-ratio: var(--16-9);
}


p {
    font-size: var(--tp_p-m);
    line-height: 1.67;
    margin: 0;
}

.cp_copyright {
    font-size: 12px;
    font-weight: bold;
    color: var(--nv-16);
    background-color: rgba(0, 0, 0, 0.5);
    padding: var(--sp_em-xs) var(--sp_em-s);
    position: absolute;
    bottom: 0;
    right: 0;
}



/*===================== full background small tile ========================*/

.cp_smalltile_fbg {   
    width: var(--smalltile-width);
    height: var(--smalltile-height);
    cursor: pointer;
    position: relative;
    aspect-ratio: var(--4-3);
    transition: all 0.3s ease-out 0.3s;
}
.cp_smalltile_fbg.span {
    width: var(--smalltile-span-width);
    height: var(--smalltile-span-height);
}
.cp_smalltile_fbg::before {
    content: 'close';
    display: block;
    width: fit-content;
    font-family: 'material icons';
    font-size: 32px;
    line-height: 1;
    border-radius: 50%;
    padding: var(--sp_px-xs);
    color: var(--nv-0);
    background: var(--nv-16);
    cursor: pointer;
    position: absolute;
    top: var(--padding-text);
    right: var(--padding-text);
    z-index: 2;
    opacity: 0;
    transition: all 0.3s ease-out;
}

.cp_smalltile_fbg > div {
    max-height: 100%;
    padding: var(--padding-text) var(--padding-text) 100px;
    color: var(--nv-16);
    position: relative;
    z-index: 1;
    overflow-y: hidden;
    transition: all 0.3s ease-out 0.3s;
}
.cp_smalltile_fbg h4 {
    max-width: var(--text-maxwidth);
    margin-bottom: var(--sp_px-s);
    transition: all 0.3s ease-out 0.3s;
}
.cp_smalltile_fbg h4 + p {
    max-width: var(--text-maxwidth);
    transition: all 0.3s ease-out 0.3s;
}
.cp_smalltile_fbg > div .additional {
    display: block;
/*    max-width: var(--text-maxwidth);*/
    max-height: 0px;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.3s ease-out 0.3s, max-width 0.3s ease-out 0.3s, opacity 0.3s ease-out;
}
.cp_smalltile_fbg > div :is(h4, h4 + p, .additional) {
/*    max-width: var(--text-maxwidth);*/
/*    transition: max-width 0.3s ease-out 0.3s;*/
}
.cp_smalltile_fbg > div .additional * {
margin-top: calc(var(--padding-largetile)/2);
}

/* vertical shadow*/
.cp_smalltile_fbg > div::after {
    content: ' ';
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7) 100px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.3s ease-out 0.3s;
}

.cp_smalltile_fbg > figure {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.cp_smalltile_fbg > figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: var(--02transition);
}
.cp_smalltile_fbg:hover > figure img {
    transform: scale(1.05);
}

/* horziontal shadow */
.cp_smalltile_fbg > figure::after {
    content: ' ';
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    top: 0;
    left: -50%;
    transition: all 0.3s ease-out 0.3s;
}

/* parageraph over flow scroll */

.cp_smalltile_fbg > div {
    display: flex;
    flex-direction: column;
}
.cp_smalltile_fbg > div > :is(h4, p) {
    flex-shrink: 0;
}
.cp_smalltile_fbg > div .additional {
    display: flex;
    flex-direction: column;
/*    height: 200px;*/
}
.cp_smalltile_fbg > div .additional p {
    overflow-y: auto;
}
.cp_smalltile_fbg > div .additional a {
    flex-shrink: 0;
}


@media screen and (min-width: 640px) {

.cp_smalltile_fbg::before {
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    }
}

@media screen and (min-width: 1024px) {
    
.cp_smalltile_fbg > div::after {
    max-height: 260px; 
    }

.cp_smalltile_fbg > div .additional {
    transition: max-height 0s ease-out 0.3s, opacity 0.3s ease-out;
}
}




/*===================== open  ========================*/

section:has(#open:checked) .cp_smalltile_fbg {
    width: 100%;
    height: 100%;
    aspect-ratio: var(--4-6);
    transition: all 0.3s ease-out;
}
section:has(#open:checked) .cp_smalltile_fbg::before { 
    opacity: 1;
    transition: all 0.3s ease-out 0.3s;
}
section:has(#open:checked) .cp_smalltile_fbg > div {
    padding: calc(var(--padding-text)*2 + 40px) var(--padding-text) 100px;
    overflow-y: auto;
    transition: all 0.3s ease-out;
    }
section:has(#open:checked) .cp_smalltile_fbg h4 {
    font-size: var(--tp_h-small);
    max-width: var(--text-maxwidth-open);
    margin-bottom: calc(var(--padding-largetile)/2);
    transition: all 0.3s ease-out;
}
section:has(#open:checked) .cp_smalltile_fbg h4 + p {
    font-size: var(--tp_p-l);
    max-width: var(--text-maxwidth-open);
    transition: all 0.3s ease-out;
}
section:has(#open:checked) .cp_smalltile_fbg > div .additional {
    max-height: 500px;
    max-width: var(--text-maxwidth-open);
    opacity: 1;
    transition: max-height 0.3s ease-out, max-width 0.3s ease-out, opacity 0.3s ease-out 0.3s;
}
section:has(#open:checked) .cp_smalltile_fbg > div :is(h4, h4 + p, .additional) {
/*    max-width: var(--text-maxwidth-open);*/
/*    transition: max-width 0.3s ease-out;*/
}
section:has(#open:checked) .cp_smalltile_fbg:hover > figure img {
    transform: none;
}



@media screen and (min-width: 640px) {
    
    section:has(#open:checked) .cp_smalltile_fbg > div {
    padding: var(--padding-text) var(--padding-text) 100px;
    }
    
}

@media screen and (min-width: 1024px) {
    section:has(#open:checked) .cp_smalltile_fbg > div {
    padding: var(--padding-text) calc((100% - 60px)/3*2 + 30px) var(--padding-text) var(--padding-text);
    }
    section:has(#open:checked) .cp_smalltile_fbg > div .additional {
    transition: max-height 0s ease-out 0.3s, max-width 0.3s ease-out, opacity 0.3s ease-out 0.3s;
}
    section:has(#open:checked) .cp_smalltile_fbg > div::after {
    top: -260px;
    transition: all 0.3s ease-out;
    }
        
    section:has(#open:checked) .cp_smalltile_fbg > figure::after {
    left: 0;
    transition: all 0.3s ease-out;
}
    
    
}


/*===================== presicion crop  ========================*/

.cp_smalltile_fbg > .precisecrop img {
    max-width: unset;
    width: var(--precisecrop-width);
    height: auto;
    object-fit: unset;
    position: absolute;
    bottom: var(--precisecrop-bottom);
    right: var(--precisecrop-right);
    transition: all 0.3s ease-out 0.3s, transform 0.2s ease-out;
    transform-origin: var(--precisecrop-origin);
    
}
.span > .precisecrop img {
    width: var(--precisecrop-span-width);
    height: var(--precisecrop-span-height);
    bottom: var(--precisecrop-span-bottom);
    right: var(--precisecrop-span-right);
    transform-origin: var(--precisecrop-span-origin);
    
}
.cp_smalltile_fbg > :is(.precisecrop, .precisecrop3) img:nth-child(1) {
    display: var(--precisecrop-phone);
}
.cp_smalltile_fbg > :is(.precisecrop, .precisecrop3) img:nth-child(2) {
    display: var(--precisecrop-tablet);
}
.cp_smalltile_fbg > :is(.precisecrop, .precisecrop3) img:nth-child(3)  {
    display: var(--precisecrop-desklap);
}

.cp_smalltile_fbg:has(.precisecrop2) {
    background-color: var(--nv-0);
}
.cp_smalltile_fbg > .precisecrop2 img {
    max-width: unset;
    width: auto;
    height: 130%;
    top: 0;
    left: 0;
    object-fit: unset;
    position: absolute;
    transition: all 0.3s ease-out 0.3s, transform 0.2s ease-out;
}

.cp_smalltile_fbg > .precisecrop3 img {
    max-width: unset;
    object-fit: unset;
    position: absolute;
    width: var(--precisecrop-3-width);
    height: auto;
    top: var(--precisecrop-3-top);
    right: var(--precisecrop-3-right);
    transform-origin: var(--precisecrop-3-origin);
    transition: all 0.3s ease-out 0.3s, transform 0.2s ease-out;
}
/*===================== presicion crop open  ========================*/

section:has(#open:checked) .cp_smalltile_fbg {
    cursor: default;
}

section:has(#open:checked) .cp_smalltile_fbg > .precisecrop img {
    width: var(--precisecrop-width-open);
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-out;
}


section:has(#open:checked) .cp_smalltile_fbg > .precisecrop2 img {
    height: var(--example-height);
    top: var(--example-top);
    transition: all 0.3s ease-out;
}

section:has(#open:checked) .cp_smalltile_fbg > .precisecrop3 img {
    width: var(--precisecrop-3-width-open);
    height: auto;
    top: var(--precisecrop-3-top-open);
    right: var(--precisecrop-3-right-open);
    transition: all 0.3s ease-out;
}

/*
        --precisecrop-3-width: 300px;
        --precisecrop-3-width-open: 720px;
        --precisecrop-3-top: -130.83px;
        --precisecrop-3-top-open: 0;
        --precisecrop-3-right: 0;
        --precisecrop-3-right-open: -45px;
        --precisecrop-3-origin: 50% 55.09%;

*/
