    :root {
        --4-3: 4 / 3;
        --4-6: 4 / 6;
        
        --padding-text: 16px;
        
        --hiddentext-maxheight: 320px;
        
        --image-display-tablet: none;
        --image-display-laptop: none;
        --image-display-desktop: none;
        
        --precisecrop-width: 100%;
        --precisecrop-width-open: 100%;
        --precisecrop-origin: 50% 71.9%;
        --precisecrop-right: 0;
        --precisecrop-bottom: -16.74%;
        
        --example-height: 60%;
        --example-top: 40%;
        
        --precisecrop-3-items-width: 100%;
        --precisecrop-3-items-height: auto;
        --precisecrop-3-items-origin: 50% 71.9%;
        --precisecrop-3-items-right: 0;
        --precisecrop-3-items-bottom: -16.74%;
        
        --crop-6-items-width: 100%;
        --crop-6-items-right: 0;
        --crop-6-items-top: -52%;
        --crop-6-items-width-open: 120%;
        --crop-6-items-right-open: -10%;
        --crop-6-items-top-open: 0;
        --crop-6-items-origin: 50% 61.2%;
        
        --crop-4-items-width: var(--crop-6-items-width);
        --crop-4-items-right: var(--crop-6-items-right);
        --crop-4-items-top: var(--crop-6-items-top);
        --crop-4-items-width-open: var(--crop-6-items-width-open);
        --crop-4-items-right-open: var(--crop-6-items-right-open);
        --crop-4-items-top-open: var(--crop-6-items-top-open);
        --crop-4-items-origin: var(--crop-6-items-origin);
        
        --crop-3-items-width: var(--crop-6-items-width);
        --crop-3-items-right: var(--crop-6-items-right);
        --crop-3-items-top: var(--crop-6-items-top);
        --crop-3-items-width-open: var(--crop-6-items-width-open);
        --crop-3-items-right-open: var(--crop-6-items-right-open);
        --crop-3-items-top-open: var(--crop-6-items-top-open);
        --crop-3-items-origin: var(--crop-6-items-origin);
        
        --crop-2-items-width: var(--crop-6-items-width);
        --crop-2-items-right: var(--crop-6-items-right);
        --crop-2-items-top: var(--crop-6-items-top);
        --crop-2-items-width-open: var(--crop-6-items-width-open);
        --crop-2-items-right-open: var(--crop-6-items-right-open);
        --crop-2-items-top-open: var(--crop-6-items-top-open);
        --crop-2-items-origin: var(--crop-6-items-origin);

    }



@media screen and (min-width: 640px) {
    :root {
        --16-9: 9 / 12;
        --4-3: unset;
        --4-6: unset;
        
        --padding-text: 20px;
        
        --text-maxwidth-6items: calc(var(--smalltile-width-6) - var(--padding-text)*2);
        --text-maxwidth-4items: calc(var(--smalltile-width-4) - var(--padding-text)*2);
        --text-maxwidth-open: calc(630px - var(--padding-text)*2);
        
        --image-display-phone: none;
        --image-display-tablet: block;
        
        --precisecrop-width: 353px;
        --precisecrop-width-open: 630px;
        --precisecrop-right: -8.88%;
        --precisecrop-bottom: 0;
        
        --precisecrop-3-items-bottom: -72%;
        
        --smalltile-width-6: 300px;
        --smalltile-height-6: 260px;
        --crop-6-items-width: 300px;
        --crop-6-items-right: 0;
        --crop-6-items-top: -47px;
        --crop-6-items-width-open: 720px;
        --crop-6-items-right-open: -45px;
        --crop-6-items-top-open: 0;
        --crop-6-items-origin: 50% 50.6%;
        
        --smalltile-width-4: 300px;
        --smalltile-height-4: 405px;
        --crop-4-items-width: 300px;
        --crop-4-items-right: 0;
        --crop-4-items-top: 0;
        --crop-4-items-width-open: 720px;
        --crop-4-items-right-open: -45px;
        --crop-4-items-top-open: -35px;
        --crop-4-items-origin: 50% 50%;
        
        --smalltile-width-3: 630px;
        --smalltile-height-3: 260px;
        --crop-3-items-width: 630px;
        --crop-3-items-right: 0;
        --crop-3-items-top: -123px;
        --crop-3-items-width-open: 1260px;
        --crop-3-items-right-open: 0;
        --crop-3-items-top-open: 0;
        --crop-3-items-origin: 50% 60.24%;
        
        --smalltile-width-2: 630px;
        --smalltile-height-2: 405px;
        --crop-2-items-width: 630px;
        --crop-2-items-right: 0;
        --crop-2-items-top: -178px;
        --crop-2-items-width-open: 800px;
        --crop-2-items-right-open: -85px;
        --crop-2-items-top-open: 0;
        --crop-2-items-origin: 50% 57.5%;
        


    }
    
}
   

@media screen and (min-width: 1024px) {
    :root {
        --grid-col: repeat(3, 1fr);
        --16-9: 16 / 9;
                
        --padding-text: 24px;
        
        --text-maxwidth-6items: calc(var(--smalltile-width-6) - var(--padding-text)*2);
        --text-maxwidth-4items: calc(var(--smalltile-width-4) - var(--padding-text)*2);
        --text-maxwidth-3items: calc(var(--smalltile-width-3) - var(--padding-text)*2);
        --text-maxwidth-2items: calc(var(--smalltile-width-2) - var(--padding-text)*2);
        --text-maxwidth-open: calc(var(--smalltile-width-6) - var(--padding-text)*2);
        
        --hiddentext-maxheight: 500px;
        
        
        --image-display-tablet: none;
        --image-display-laptop: block;
        
        --precisecrop-width: 519.5px;
        --precisecrop-width-open: 954px;
        --precisecrop-origin: 71.3% 50%;
        --precisecrop-right: 0;
        --precisecrop-bottom: -7.8%;
        
        --precisecrop-3-items-width: auto;
        --precisecrop-3-items-height: 100%;
        --precisecrop-3-items-origin: 71.3% 50%;
        --precisecrop-3-items-right: -40.2%;
        --precisecrop-3-items-bottom: 0;
            
        --example-height: 100%;
        --example-top: 0;
        
        --smalltile-width-6: 298px;
        --smalltile-height-6: 254px;
        --crop-6-items-width: 453.31px;
        --crop-6-items-right: 0;
        --crop-6-items-top: 0;
        --crop-6-items-width-open: 954px;
        --crop-6-items-right-open: 0;
        --crop-6-items-top-open: -130.83px;
        --crop-6-items-origin: 67.13% 39.87%;
        
        --smalltile-width-4: 462px;
        --smalltile-height-4: 253px;
        --crop-4-items-width: 662px;
        --crop-4-items-right: 0;
        --crop-4-items-top: 0;
        --crop-4-items-width-open: 954px;
        --crop-4-items-right-open: 0;
        --crop-4-items-top-open: 0;
        --crop-4-items-origin: 65.120% 32.92%;

        --smalltile-width-3: 298px;
        --smalltile-height-3: 537px;
        --crop-3-items-width: 699px;
        --crop-3-items-right: -105px;
        --crop-3-items-top: 0;
        --crop-3-items-width-open: 954px;
        --crop-3-items-right-open: 0;
        --crop-3-items-top-open: -214px;
        --crop-3-items-origin: 63.72% 47.98%;
        
        --smalltile-width-2: 462px;
        --smalltile-height-2: 537px;
        --crop-2-items-width: 805px;
        --crop-2-items-right: -36px;
        --crop-2-items-top: 0;
        --crop-2-items-width-open: 954px;
        --crop-2-items-right-open: 0;
        --crop-2-items-top-open: -173px;
        --crop-2-items-origin: 66.9% 44.38%;
    }
}

@media screen and (min-width: 1350px) {
    :root {
        
        --padding-text: 32px;
        
        --image-display-laptop: none;
        --image-display-desktop: block;
        
        --precisecrop-width: 715px;
        --precisecrop-width-open: 1290px;
        
        --smalltile-width-6: 410px;
        --smalltile-height-6: 348px;
        --crop-6-items-width: 624px;
        --crop-6-items-right: 0;
        --crop-6-items-top: 0;
        --crop-6-items-width-open: 1290px;
        --crop-6-items-right-open: 0;
        --crop-6-items-top-open: -177px;
        --crop-6-items-origin: 67.13% 39.87%;
        
        --smalltile-width-4: 630px;
        --smalltile-height-4: 348px;
        --crop-4-items-width: 903px;
        --crop-4-items-right: 0;
        --crop-4-items-top: 0;
        --crop-4-items-width-open: 1290px;
        --crop-4-items-right-open: 0;
        --crop-4-items-top-open: 0;
        --crop-4-items-origin: 65.12% 32.92%;
        
        --smalltile-width-3: 410px;
        --smalltile-height-3: 726px;
        --crop-3-items-width: 962px;
        --crop-3-items-right: -144px;
        --crop-3-items-top: 0;
        --crop-3-items-width-open: 1290px;
        --crop-3-items-right-open: 0;
        --crop-3-items-top-open: -289px;
        --crop-3-items-origin: 63.72% 47.98%;
        
        --smalltile-width-2: 630px;
        --smalltile-height-2: 726px;
        --crop-2-items-width: 1098px;
        --crop-2-items-right: -49px;
        --crop-2-items-top: 0;
        --crop-2-items-width-open: 1290px;
        --crop-2-items-right-open: 0;
        --crop-2-items-top-open: -234px;
        --crop-2-items-origin: 66.9% 44.38%;
    }
     
}



.switches {
    margin-bottom: var(--sp_px-xxxl);
}
.switches label {
    margin-right: var(--sp_px-l);
}
.switches input {
    margin-right: var(--sp_px-xs);
}

.aspect-ratio-16-9 {
    aspect-ratio: var(--16-9);
}


p {
    font-size: var(--tp_p-m);
    line-height: 1.67;
    margin: 0;
}

.cp_copyright {
    font-size: var(--tp_p-s);
    color: var(--nv-16);
    background-color: unset;
    padding: 12px 15px;
    position: absolute;
    bottom: 0;
    right: 0;
} 
.cp_copyright.black {
    color: var(--nv-0);
}



/*===================== full background small tile ========================*/

.cp_smalltile_fbg {   
    cursor: pointer;
    position: relative;
    aspect-ratio: var(--4-3);
    transition: all 0.3s ease-out 0.3s;
}
.cp_smalltile_fbg.items-6 {
    width: var(--smalltile-width-6);
    height: var(--smalltile-height-6);
}
.cp_smalltile_fbg.items-4 {   
    width: var(--smalltile-width-4);
    height: var(--smalltile-height-4);
}
.cp_smalltile_fbg.items-3 {   
    width: var(--smalltile-width-3);
    height: var(--smalltile-height-3);
}
.cp_smalltile_fbg.items-2 {   
    width: var(--smalltile-width-2);
    height: var(--smalltile-height-2);
}


.cp_smalltile_fbg::before {
    content: "";
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    position: absolute;
    background: url(../assets/ic_close.svg) no-repeat center;
    top: 0;
    right: 0;
    z-index: 2;
    opacity: 0;
    transition: all 0.3s ease-out;
}

.cp_smalltile_fbg > div {
    max-height: 100%;
    padding: var(--padding-text) var(--padding-text) 100px;
    color: var(--nv-16);
    position: relative;
    z-index: 1;
    overflow-y: hidden;
    transition: all 0.3s ease-out 0.3s;
}
.cp_smalltile_fbg h4 {
    margin-bottom: var(--sp_px-s);
    transition: margin-bottom 0.3s ease-out 0.3s, max-width 0s ease-out 0.6s;
}
.cp_smalltile_fbg h4 + p {
    font-size: 16px;
    line-height: 1.5;
    font-weight: bold;
    transition: max-width 0s ease-out 0.6s;
}
.cp_smalltile_fbg > div .additional {
    display: block;
    max-height: 0px;
/*
    max-width: calc(var(--text-maxwidth) + var(--sp_px-xs) + var(--scrollbar-width));
    padding-right: calc(var(--sp_px-xs) + var(--scrollbar-width));
*/
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.3s ease-out 0.3s, max-width 0s ease-out 0.6s, opacity 0.3s ease-out;
}

.cp_smalltile_fbg.items-6 > div :is(h4, h4 + p, .additional) {
    max-width: var(--text-maxwidth-6items);
}
.cp_smalltile_fbg.items-4 > div :is(h4, h4 + p, .additional) {
    max-width: var(--text-maxwidth-4items);
}
.cp_smalltile_fbg.items-3 > div :is(h4, h4 + p, .additional) {
    max-width: var(--text-maxwidth-3items);
}
.cp_smalltile_fbg.items-2 > div :is(h4, h4 + p, .additional) {
    max-width: var(--text-maxwidth-2items);
}


.cp_smalltile_fbg > div .additional * {
margin-top: calc(var(--padding-text)/2);
}



/* vertical shadow*/
.cp_smalltile_fbg > div::after {
    content: ' ';
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7) 100px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.3s ease-out 0.3s;
}




.cp_smalltile_fbg > figure {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.cp_smalltile_fbg > :is(.autofit, .precisecrop, .crop) img:nth-child(1) {
    display: var(--image-display-phone);
}
.cp_smalltile_fbg > :is(.autofit, .precisecrop, .crop) img:nth-child(2) {
    display: var(--image-display-tablet);
}
.cp_smalltile_fbg > :is(.autofit, .precisecrop, .crop) img:nth-child(3)  {
    display: var(--image-display-laptop);
}
.cp_smalltile_fbg > :is(.autofit, .precisecrop, .crop) img:nth-child(4)  {
    display: var(--image-display-desktop);
}

.cp_smalltile_fbg > figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: var(--02transition);
}
.cp_smalltile_fbg:hover > figure img {
    transform: scale(1.05);
}

/* horziontal shadow */
.cp_smalltile_fbg > figure::after {
    content: ' ';
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    top: 0;
    left: -50%;
    transition: all 0.3s ease-out 0.3s;
}



/* parageraph over flow scroll */

.cp_smalltile_fbg > div {
    display: flex;
    flex-direction: column;
}
.cp_smalltile_fbg > div > :is(h4, p) {
    flex-shrink: 0;
}
.cp_smalltile_fbg > div .additional {
    display: flex;
    flex-direction: column;
}
.cp_smalltile_fbg > div .additional p {
    overflow-y: auto;
/*
    margin-right: calc((var(--sp_px-xs) + var(--scrollbar-width)) * -1);
    padding-right: var(--sp_px-xs);
*/
}
.cp_smalltile_fbg > div .additional a {
    flex-shrink: 0;
}


@media screen and (min-width: 640px) {

.cp_smalltile_fbg::before {
    transform: translate(50%, -50%);
    }
}

@media screen and (min-width: 1024px) {
    
.cp_smalltile_fbg > div::after {
    max-height: 260px; 
    }

}




/*===================== open  ========================*/

section:has(#open:checked) .cp_smalltile_fbg {
    width: 100%;
    height: 100%;
    aspect-ratio: var(--4-6);
    transition: all 0.3s ease-out;
}
section:has(#open:checked) .cp_smalltile_fbg::before { 
    opacity: 1;
    transition: all 0.3s ease-out 0.3s;
}
/* allowing overflow-y auto causes scrollbar during transition */
section:has(#open:checked) .cp_smalltile_fbg > div {
    padding: 48px var(--padding-text) 100px;
/*    overflow-y: auto;*/
    transition: all 0.3s ease-out;
    }
section:has(#open:checked) .cp_smalltile_fbg h4 {
    max-width: var(--text-maxwidth-open);
    margin-bottom: calc(var(--padding-text)/2);
    transition: margin-bottom 0.3s ease-out, max-width 0s ease-out 0.3s;
}
section:has(#open:checked) .cp_smalltile_fbg h4 + p {
    max-width: var(--text-maxwidth-open);
    transition: max-width 0s ease-out 0.3s;
}
section:has(#open:checked) .cp_smalltile_fbg > div .additional {
    max-height: var(--hiddentext-maxheight);
    max-width: var(--text-maxwidth-open);
/*    max-width: calc(var(--text-maxwidth-open) + var(--sp_px-xs) + var(--scrollbar-width));*/
    opacity: 1;
    transition: max-height 0.3s ease-out, max-width 0s ease-out 0.3s, opacity 0.3s ease-out 0.3s;
}
section:has(#open:checked) .cp_smalltile_fbg:hover > figure img {
    transform: none;
}



@media screen and (min-width: 640px) {
    
    section:has(#open:checked) .cp_smalltile_fbg > div {
    padding: var(--padding-text) var(--padding-text) 100px;
    }
    
}

@media screen and (min-width: 1024px) {
    section:has(#open:checked) .cp_smalltile_fbg > div {
    padding: var(--padding-text);
    }
    section:has(#open:checked) .cp_smalltile_fbg > div::after {
    top: -260px;
    transition: all 0.3s ease-out;
    }
        
    section:has(#open:checked) .cp_smalltile_fbg > figure::after {
    left: 0;
    transition: all 0.3s ease-out;
}
    
    
}


/*===================== presicion crop  ========================*/


/* gen 1 custom crop */
.cp_smalltile_fbg > .precisecrop img {
    max-width: unset;
    width: var(--precisecrop-width);
    height: auto;
    object-fit: unset;
    position: absolute;
    bottom: var(--precisecrop-bottom);
    right: var(--precisecrop-right);
    transition: all 0.3s ease-out 0.3s, transform 0.2s ease-out;
    transform-origin: var(--precisecrop-origin);
    
}
.items-3 > .precisecrop img {
    width: var(--precisecrop-3-items-width);
    height: var(--precisecrop-3-items-height);
    bottom: var(--precisecrop-3-items-bottom);
    right: var(--precisecrop-3-items-right);
    transform-origin: var(--precisecrop-3-items-origin);
    
}

.cp_smalltile_fbg:has(.precisecrop2) {
    background-color: var(--nv-0);
}
.cp_smalltile_fbg > .precisecrop2 img {
    max-width: unset;
    width: auto;
    height: 130%;
    top: 0;
    left: 0;
    object-fit: unset;
    position: absolute;
    transition: all 0.3s ease-out 0.3s, transform 0.2s ease-out;
}


/* gen 2 custom crop */

.cp_smalltile_fbg > .crop img {
    max-width: unset;
    object-fit: unset;
    position: absolute;
    height: auto;
    transition: all 0.3s ease-out 0.3s, transform 0.2s ease-out;
}
.cp_smalltile_fbg.items-6 > .crop img {
    width: var(--crop-6-items-width);
    top: var(--crop-6-items-top);
    right: var(--crop-6-items-right);
    transform-origin: var(--crop-6-items-origin);
}
.cp_smalltile_fbg.items-4 > .crop img {
    width: var(--crop-4-items-width);
    top: var(--crop-4-items-top);
    right: var(--crop-4-items-right);
    transform-origin: var(--crop-4-items-origin);
}
.cp_smalltile_fbg.items-3 > .crop img {
    width: var(--crop-3-items-width);
    top: var(--crop-3-items-top);
    right: var(--crop-3-items-right);
    transform-origin: var(--crop-3-items-origin);
}
.cp_smalltile_fbg.items-2 > .crop img {
    width: var(--crop-2-items-width);
    top: var(--crop-2-items-top);
    right: var(--crop-2-items-right);
    transform-origin: var(--crop-2-items-origin);
}


/*===================== presicion crop open  ========================*/

section:has(#open:checked) .cp_smalltile_fbg {
    cursor: default;
}
section:has(#open:checked) .cp_smalltile_fbg > .precisecrop img {
    width: var(--precisecrop-width-open);
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-out;
}
section:has(#open:checked) .cp_smalltile_fbg > .precisecrop2 img {
    height: var(--example-height);
    top: var(--example-top);
    transition: all 0.3s ease-out;
}




section:has(#open:checked) .cp_smalltile_fbg > .crop img {
    height: auto;
    transition: all 0.3s ease-out;
}
section:has(#open:checked) .cp_smalltile_fbg.items-6 > .crop img {
    width: var(--crop-6-items-width-open);
    top: var(--crop-6-items-top-open);
    right: var(--crop-6-items-right-open);
}
section:has(#open:checked) .cp_smalltile_fbg.items-4 > .crop img {
    width: var(--crop-4-items-width-open);
    top: var(--crop-4-items-top-open);
    right: var(--crop-4-items-right-open);
}
section:has(#open:checked) .cp_smalltile_fbg.items-3 > .crop img {
    width: var(--crop-3-items-width-open);
    top: var(--crop-3-items-top-open);
    right: var(--crop-3-items-right-open);
}
section:has(#open:checked) .cp_smalltile_fbg.items-2 > .crop img {
    width: var(--crop-2-items-width-open);
    top: var(--crop-2-items-top-open);
    right: var(--crop-2-items-right-open);
}


/*=========================== auto-fit position ajustement =========================*/

section:has(#topleft:checked) .cp_smalltile_fbg img {
    object-position: top left;
}
section:has(#bottomright:checked) .cp_smalltile_fbg img {
    object-position: bottom right;
}
section:has(#pixel:checked) .cp_smalltile_fbg img {
    object-position: -100px -30px;
}