:root {
    --cp_f_icon-size: 16px;
    --cp_f_line-height-s: 1.25;
    --cp_f_line-height-m: 1.4;
    
    
    --cp_f_label-color: var(--nv-1-5-1a);
    --cp_f_i-color: var(--nv-1-5-1a);
/*    --cp_f_i-color-hover: var(--nv-0);*/
    --cp_f_i-color-disabled: var(--nv-12-5-cc);
    --cp_f_i_placeholder-color: var(--nv-9-5-99);
    --cp_f_i_border: var(--nv-12-5-cc);
    --cp_f_i_border_2: var(--nv-9-5-99);
    --cp_f_i_bg: var(--nv-15-5-f7);
    --cp_f_i_bg-hover: var(--nv-16);
    --cp_f_select-color-disabled: #cccccd;
    --cp_f_button-color: var(--nv-15-5-f7);
    --cp_f_button-bg-hover: #6ba700;
    --cp_f_crt_swtich_bg-color-on: #bfd6b0;
    --cp_f_ctr_switch_circle-color: var(--nv-15-5-f7);
    --cp_f_ctr_arrow: var(--nv-6-5-66);
    --cp_f_ctr_arrow-hover: var(--nv-1-5-1a);
    --cp_f_transition: background-color 0.3s ease-in-out;
    
/*    --page-bg: var(--nv-16);*/
    --page-bg: var(--nv-15-ee);

}

@media screen and (min-width: 360px) {
    

}


@media screen and (min-width: 640px) {
    
}

@media screen and (min-width: 1024px) {
    
}
@media screen and (min-width: 1350px) {
   

}



@media (prefers-color-scheme: dark) {

    :root {
    --cp_f_label-color: var(--nv-15-ee);
    --cp_f_i-color: var(--nv-15-ee);
    --cp_f_i-color-hover: var(--nv-16);
    --cp_f_i-color-disabled: var(--nv-3-33);
    --cp_f_i_placeholder-color: var(--nv-6-5-66);
    --cp_f_i_border: var(--nv-3-33);
    --cp_f_i_border_2: var(--nv-6-5-66);
    --cp_f_i_bg: var(--nv-1-5-1a);
    --cp_f_i_bg-hover: var(--nv-2-22);
    --cp_f_select-color-disabled: #333334;
    --cp_f_button-color: var(--nv-1-5-1a);
    --cp_f_button-bg-hover: #85d000;
    --cp_f_crt_swtich_bg-color-on: #3e552e;
    --cp_f_ctr_switch_circle-color: var(--nv-6-5-66);
    --cp_f_ctr_arrow: var(--nv-9-5-99);
    --cp_f_ctr_arrow-hover: var(--nv-15-ee); 
        
/*    --page-bg: var(--nv-2-22);*/
    --page-bg: var(--nv-1-11);
        
/*      --nv-16: var(--nv-dark-2-22);
        --nv-15-5-f7: var(--nv-dark-1-5-1a);
        --nv-15-ee: var(--nv-dark-1-11);
        --nv-14-dd: var(--nv-dark-0);
        --nv-12-5-cc: var(--nv-dark-3-33);
        --nv-9-5-99: var(--nv-dark-6-5-66);
        --nv-6-5-66: var(--nv-dark-9-5-99);
        --nv-3-33: var(--nv-dark-12-5-cc);
        --nv-2-22: var(--nv-dark-14-dd);
        --nv-1-5-1a: var(--nv-dark-15-ee);
        --nv-1-11: var(--nv-dark-15-5-f7);
        --nv-0: var(--nv-dark-16);
        
        */
    }
}


/*================= Text data simple ========================*/

.cp_f_label_text {
    display: block;
    margin-bottom: var(--sp_em-xs);
    font-weight: bold;
    font-size: 14px;
    line-height: var(--cp_f_line-height-s);
    color: var(--cp_f_label-color); 
}
.cp_f_label_text:has(+ :disabled) {
    color: var(--cp_f_i-color-disabled);
}

.cp_f_i_text,
.cp_f_i_email,
.cp_f_i_tel,
.cp_f_i_num,
.cp_f_i_password,
.cp_f_i_search,
.cp_f_textarea {
    display: block;
    width: min(100%, 80ch);
    padding: var(--sp_em-s);
    border: 1px solid var(--cp_f_i_border);
    background-color: var(--cp_f_i_bg);
    font-family: inherit;
    font-size: var(--tp_p-m);
    line-height: var(--cp_f_line-height-m);
    color: var(--cp_f_i-color); 
    text-overflow: ellipsis;
}
:is(
.cp_f_i_text,
.cp_f_i_email,
.cp_f_i_tel,
.cp_f_i_num,
.cp_f_i_password,
.cp_f_i_search,
.cp_f_textarea
)::placeholder {
    color: var(--cp_f_i_placeholder-color);
}
:is(
.cp_f_i_text,
.cp_f_i_email,
.cp_f_i_tel,
.cp_f_i_num,
.cp_f_i_password,
.cp_f_i_search,
.cp_f_textarea
):disabled::placeholder {
    color: var(--cp_f_i-color-disabled);
}

.cp_f_textarea {
    overflow: auto;
    resize: vertical;
}



/*================= Text data complex ========================*/

.labelasplace {
    position: relative;
}

.labelasplace .cp_f_label_text {
    margin: 0;
    font-weight: normal;
    font-size: var(--tp_p-m);
    line-height: var(--cp_f_line-height-m);
    color: var(--cp_f_i_placeholder-color);
    position: absolute;
    z-index: -1;
    top: calc(var(--sp_em-m) + 0.1em);
    left: var(--sp_em-m);
    transition: all 0.2s ease-out;
}
.labelasplace:has(:is(
.cp_f_i_text,
.cp_f_i_email,
.cp_f_i_tel,
.cp_f_i_password,
.cp_f_i_search,
.cp_f_textarea
):is(:invalid, :placeholder-shown, :focus)) .cp_f_label_text, 
.labelasplace:has(.cp_f_i_num:is(:valid, :focus)) .cp_f_label_text
{
    padding: 0 var(--sp_em-xs);
    z-index: 0;
    top: -0.4lh;
    left: 0.7em;
    font-size: 14px;
    line-height: var(--cp_f_line-height-s);
    font-weight: bold;
    color: var(--cp_f_label-color);
    background-color: var(--page-bg);
}

.labelasplace:has(:is(
.cp_f_i_text,
.cp_f_i_email,
.cp_f_i_tel,
.cp_f_i_num,
.cp_f_i_password,
.cp_f_i_search,
.cp_f_textarea
):focus) .cp_f_label_text {
/*    color: var(--nv-green);*/
}

.labelasplace:has(:is(
.cp_f_i_text,
.cp_f_i_email,
.cp_f_i_tel,
.cp_f_i_num,
.cp_f_i_password,
.cp_f_i_search,
.cp_f_textarea
):disabled) .cp_f_label_text {
    color: var(--cp_f_i-color-disabled);
}


.labelasplace :is(
.cp_f_i_text,
.cp_f_i_email,
.cp_f_i_tel,
.cp_f_i_num,
.cp_f_i_password,
.cp_f_i_search,
.cp_f_textarea
) {
    padding: var(--sp_em-m) var(--sp_em-m);
    border: 1px solid var(--cp_f_i_border_2);
    outline: 1px solid transparent; 
    background-color: transparent;
    transition: all 0.2s ease-out;
}

.labelasplace :is(
.cp_f_i_text,
.cp_f_i_email,
.cp_f_i_tel,
.cp_f_i_num,
.cp_f_i_password,
.cp_f_i_search,
.cp_f_textarea
):focus {
    outline: 1px solid var(--nv-green);
    border-color: var(--nv-green)
}

.labelasplace :is(
.cp_f_i_text,
.cp_f_i_email,
.cp_f_i_tel,
.cp_f_i_num,
.cp_f_i_password,
.cp_f_i_search,
.cp_f_textarea
):disabled {
    border-color: var(--cp_f_i_border);
}

.labelasplace :is(
.cp_f_i_text,
.cp_f_i_email,
.cp_f_i_tel,
.cp_f_i_num,
.cp_f_i_password,
.cp_f_i_search,
.cp_f_textarea
):disabled::placeholder {
    color: var(--cp_f_i-color-disabled);
}






/*================= Selection ========================*/

.cp_f_label_checkbox {
    font-size: var(--tp_p-m);
    color: var(--cp_f_label-color); 
}


.cp_f_i_checkbox, .cp_f_i_radio {
    appearance: none;
    width: var(--cp_f_icon-size);
    height: var(--cp_f_icon-size);
    vertical-align: -10%;
    background: url(../assets/ic_checkbox_off.svg) no-repeat center / cover;
}
.cp_f_i_checkbox:checked {
    background-image: url(../assets/ic_checkbox_on.svg);
}
.cp_f_i_radio {
    background-image: url(../assets/ic_radio_off.svg);
}
.cp_f_i_radio:checked {
    background-image: url(../assets/ic_radio_on.svg);
}



.cp_f_label_select {
    display: block;
    margin-bottom: var(--sp_em-xs);
    font-weight: bold;
    font-size: 14px;
    line-height: var(--cp_f_line-height-s);
    color: var(--cp_f_label-color);
}
.cp_f_select, 
.cp_f_select_multi {
    display: block;
    min-width: 10ch;
    padding: var(--sp_em-xs) calc(var(--sp_em-xs) + var(--cp_f_icon-size) + var(--sp_em-s)) var(--sp_em-xs) var(--sp_em-s);
    border: 1px solid var(--cp_f_i_border);
    background-color: var(--cp_f_i_bg);
    font-family: inherit;
    font-size: var(--tp_p-m);
    line-height: var(--cp_f_line-height-m);
    color: var(--cp_f_i-color);
    appearance: none;
    position: relative;
}
.cp_f_select {
    background: url(../assets/ic_chevron_dropdown_small.svg) no-repeat right var(--sp_em-s) center / 16px 16px, var(--cp_f_i_bg);
}
.cp_f_select_multi {
    padding: var(--sp_em-s);
/*    appearance: none;*/
}

optgroup {
    color: var(--cp_f_i-color);

}
optgroup:disabled {
    color: var(--cp_f_i-color-disabled);
}
select > option {
    color: var(--cp_f_i-color);
}
option {
/*    color: red;*/
}
option:disabled {
    color: var(--cp_f_i-color-disabled);
    color: var(--cp_f_select-color-disabled);
}





/*================= Picker ========================*/


.cp_f_i_date {
    display: block;
    min-width: 15ch;
    padding: var(--sp_em-s) var(--sp_em-s);
    border: 1px solid var(--cp_f_i_border);
    background-color: var(--cp_f_i_bg);
    font-family: inherit;
    font-size: var(--tp_p-m);
    line-height: 1.2;
    color: var(--cp_f_i-color); 
    cursor: pointer;
}

.cp_f_i_file::file-selector-button   {
    padding: var(--sp_em-m);
    border: 1px solid var(--cp_f_i_border);
    background-color: var(--cp_f_i_bg);
    font-size: 13px;
    line-height: 1.2;
    font-weight: bold;
    color: var(--cp_f_i-color); 
    transition: var(--cp_f_transition);
    cursor: pointer;
}

.cp_f_i_file::file-selector-button:hover {
    background-color: var(--cp_f_i_bg-hover);
}







/*================= Button ========================*/


.cp_f_button_submit {
    padding: var(--sp_em-s) var(--sp_em-m);
    border: none;
    background-color: var(--nv-green);
    font-size: 15px;
    line-height: 1.2;
    font-weight: bold;
    color: var(--cp_f_button-color);
    cursor: pointer;
    transition: var(--cp_f_transition);
}
.cp_f_button_submit:is(:hover, :focus) {
    background-color: var(--cp_f_button-bg-hover);
}

.cp_f_button_search {
    padding: var(--sp_em-s) var(--sp_em-m);
    border: none;
    background-color: var(--cp_f_i_bg);
    font-size: 15px;
    line-height: 1.2;
    font-weight: bold;
    color: var(--cp_f_i-color);
    cursor: pointer;
    transition: var(--cp_f_transition);
}

.cp_f_button_search:is(:hover, :focus) {
    background-color: var(--cp_f_i_bg-hover);
}





/*================= UI controls ========================*/

.cp_f_switch {
    appearance: none;
    background-color: var(--cp_f_i_border);
    width: 40px;
    height: 16px;
    border-radius: 999px;
    position: relative;
    transition: background-color 0.2s 0.2s ease-in-out;
    cursor: pointer;
    vertical-align: middle;
}
.cp_f_switch::after {
    content: '';
    display: block;
    background-color: var(--cp_f_ctr_switch_circle-color);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    width: 20px;
    height: 20px;
    border-radius: 999px;
    position: absolute;
    left: 0px;
    top: -2px;
    transition: all 0.3s ease-in-out;
}
.cp_f_switch:checked {
    background-color: var(--cp_f_crt_swtich_bg-color-on);
}
.cp_f_switch:checked::after {
    left: 20px;
    background-color: var(--nv-green);
}

.cp_f_chip {
    font-size: 14px;
    color: var(--cp_f_i-color);
    background-color: var(--cp_f_i_bg);
    padding: var(--sp_em-xs) calc(var(--sp_em-xs) + var(--sz_icon-s) + var(--sp_em-m)) var(--sp_em-xs) var(--sp_em-m);
    border: 1px solid var(--cp_f_i_border);
    border-radius: 999px;
    position: relative;
    width: max-content;
    white-space: nowrap;
    cursor: default;
}

.cp_f_chip input[type="checkbox"] {
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    right: calc(var(--sp_em-m) - 2px);
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
/*    background-color: red;*/
    appearance: none;
}
.cp_f_chip input[type="checkbox"]::after {
   content: "close";
    font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
    
    color: var(--cp_f_label-color);
}
.cp_f_chip span {
    font-weight: 700;
    margin-right: 2px;
}
.cp_f_chip:has(input[type="checkbox"]:checked) {
    display: none;
}
/*
.cp_filter_chip_clear {
    font-size: 14px;
    text-decoration: underline;
    margin-left: var(--sp_px-m);
    flex: 0 0 fit-content;
    cursor: pointer;
}*/

.cp_f_ctr_arrow {
    color: var(--cp_f_ctr_arrow);
    transition: color 0.3s ease-in-out;
    cursor: pointer;
}
.cp_f_ctr_arrow:is(:hover, :focus) {
    color: var(--cp_f_ctr_arrow-hover);
}
.cp_f_ctr_btn {
    padding: 4px;
    color: var(--cp_f_button-color);
    background-color: var(--nv-green);
    transition: var(--cp_f_transition);
    cursor: pointer;
}
.cp_f_ctr_btn:is(:hover, :focus) {
    background-color: var(--cp_f_button-bg-hover);
}