:root {
         
/*--nv-16: #ffffff;*/
--nv-15-5-f7: var(--nv-3-33);
--nv-14-dd: var(--nv-2-22);
/*--nv-12-5-cc: 3var(--nv-1-11);*/
/*--nv-9-5-99: #999999;*/
--nv-1-5-1a: var(--nv-15-ee);
--nv-6-5-66: var(--nv-12-5-cc);
--nv-0: var(--nv-16);
    
--viewport-icon-bg: var(--sw-5);
}


/*==================== general styling ================*/

@media screen and (max-width: 1023px) {
    .web > ul > li:nth-child(4n + 7),
    .web > ul > li:nth-child(4n + 8) {
        border-top: 1px solid var(--nv-6-5-66);
    }
}


@media screen and (min-width: 1024px) {
    .web > ul > li:first-child {
        visibility: revert;
        background-color: var(--nv-2-22);
    }
    .web > ul {
        background-color: var(--sw-5);
    }
    .viewport::before {
        background-color: var(--viewport-icon-bg);
    }
    .email > ul {
        grid-gap: 0;
    }
    .email > ul > li:not(.viewport, .class) {
        border-top: 1px solid var(--sw-5);
        border-left: 1px solid var(--sw-5);
    }
    .email .class {
        border-top: 1px solid var(--sw-5);
    }
    .email .viewport {
        border-left: 1px solid var(--sw-5);
    }
}


@media screen and (min-width: 768px) and (max-width: 1023px),
screen and (min-width: 2400px) {

    .specs li:nth-child(-n + 2)::after {
        color: var(--nv-9-5-99);
    }
}

